﻿
/*@import url(font_css.css);*/

.board
{
    /*margin: 60px auto;
    height: 500px;*/
    background: #fff;
    /*box-shadow: 10px 10px #ccc,-10px 20px #ddd;*/
}

    .board .nav-tabs
    {
        height: 60px;
        position: relative;
        /*border-bottom: 0; 
                 width: 80%;*/
        /*margin: 40px auto;*/
        margin-bottom: 0;
        box-sizing: border-box;
        border-bottom: 0px;
    }

    .board > div.board-inner
    {
        /*background: #fafafa url(http://subtlepatterns.com/patterns/geometry2.png);*/
        background-size: 30%;
    }

p.narrow
{
    width: 60%;
    margin: 10px auto;
}

.liner
{
    height: 2px;
    background: #ddd;
    position: absolute;
    width: 100%;
    margin: 10px auto;
    left: 0;
    right: 0;
    top: 50%;
    z-index: 1;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus
{
    color: #555555;
    cursor: default;
    /*background-color: #ffffff;*/
    border: 0;
    border-bottom-color: transparent;
}

span.round-tabs
{
    width: 60px;
    height: 60px;
    line-height: 60px;
    display: inline-block;
    border-radius: 100px;
    background: white;
    z-index: 2;
    position: absolute;
    left: 0;
    text-align: center;
    font-size: 25px;
}

    span.round-tabs.one
    {
        color: rgb(34, 194, 34);
        border: 2px solid #56ABAA;
    }

li.active span.round-tabs.one
{
    background: #fff !important;
    border: 2px solid #ddd;
    color: rgb(34, 194, 34);
}

span.round-tabs.two
{
    color: #febe29;
    border: 2px solid #febe29;
}

li.active span.round-tabs.two
{
    background: #fff !important;
    border: 2px solid #ddd;
    color: #febe29;
}

span.round-tabs.three
{
    color: #3e5e9a;
    border: 2px solid #3e5e9a;
}

li.active span.round-tabs.three
{
    background: #fff !important;
    border: 2px solid #ddd;
    color: #3e5e9a;
}

span.round-tabs.four
{
    color: #f1685e;
    border: 2px solid #B99551;
}

li.active span.round-tabs.four
{
    background: #fff !important;
    border: 2px solid #ddd;
    color: #f1685e;
}

span.round-tabs.five
{
    color: #999;
    border: 2px solid #6DB43E;
}

li.active span.round-tabs.five
{
    background: #fff !important;
    border: 2px solid #ddd;
    color: #999;
}
span.round-tabs.six
{
    color: #999;
    border: 2px solid #EEC20A;
}

li.active span.round-tabs.six
{
    background: #fff !important;
    border: 2px solid #ddd;
    color: #999;
}
span.round-tabs.seven
{
    color: #999;
    border: 2px solid #999;
}

li.active span.round-tabs.seven
{
    background: #fff !important;
    border: 2px solid #ddd;
    color: #999;
}

.nav-tabs > li.active > a span.round-tabs
{
    background: #fafafa;
}

.nav-tabs > li
{
    /*width: 14%;*/
     width: 12%;
}

li.active:before
{
    content: " ";
    position: absolute;
    left: 45%;
    opacity: 0;
    margin: 0 auto;
    bottom: -2px;
    border: 10px solid transparent;
    border-bottom-color: #fff;
    z-index: 1;
    transition: 0.2s ease-in-out;
}

li:after
{
    content: " ";
    position: absolute;
    left: 45%;
    opacity: 0;
    margin: 0 auto;
    bottom: 0px;
    border: 5px solid transparent;
    border-bottom-color: #ddd;
    transition: 0.1s ease-in-out;
}

li.active:after
{
    content: " ";
    position: absolute;
    left: 45%;
    opacity: 1;
    margin: 0 auto;
    bottom: 0px;
    border: 10px solid transparent;
    border-bottom-color: #ddd;
}

.nav-tabs > li a
{
    width: 60px;
    height: 60px;
    margin: 10px auto;
    border-radius: 100%;
    padding: 0;
}

    .nav-tabs > li a:hover
    {
        background: transparent;
    }

.tab-content
{
    background-color: white;
}

.tab-pane
{
    position: relative;
    padding-top: 20px;
}

.tab-content .head
{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 25px;
    text-transform: uppercase;
    padding-bottom: 10px;
}

.btn-outline-rounded
{
    padding: 10px 40px;
    margin: 20px 0;
    border: 2px solid transparent;
    border-radius: 25px;
}

.btn.green
{
    background-color: #5cb85c;
    /*border: 2px solid #5cb85c;*/
    color: #ffffff;
}



@media( max-width : 585px )
{
    .board;

{
    width: 90%;
    height: auto !important;
}

span.round-tabs
{
    font-size: 16px;
    width: 60px;
    height: 60px;
    line-height: 60px;
}

.tab-content .head
{
    font-size: 20px;
}

.nav-tabs > li a
{
    width: 60px;
    height: 60px;
    line-height: 60px;
}

li.active:after
{
    content: " ";
    position: absolute;
    left: 35%;
}

.btn-outline-rounded
{
    padding: 12px 20px;
}
