<%@ Page Language="VB" MasterPageFile="~/MasterPage.master" AutoEventWireup="false"
    CodeFile="AssetLocation_Details.aspx.vb" Inherits="FAM_FAM_Webfiles_AssetLocation_Details"
    Title="Asset Location" %>

<%@ Register Src="../../Controls/AssetLocation_Details.ascx" TagName="AssetLocation_Details"
    TagPrefix="uc1" %>
<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" runat="Server">
    <uc1:AssetLocation_Details ID="AssetLocation_Details1" runat="server" />
</asp:Content>
