<%@ Page Language="VB" MasterPageFile="~/MasterPage.master" AutoEventWireup="false" CodeFile="frmAssetLocationReport.aspx.vb" Inherits="FAM_FAM_Webfiles_frmAssetLocationReport" title="Asset Location Report" %>

<%@ Register Src="../../Controls/AssetLocationReport.ascx" TagName="AssetLocationReport"
    TagPrefix="uc1" %>
<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    <uc1:AssetLocationReport ID="AssetLocationReport1" runat="server" />
</asp:Content>

