<%@ Page Language="VB" MasterPageFile="~/MasterPage.master" AutoEventWireup="false" CodeFile="frmAdminITApprovalDtls.aspx.vb" Inherits="FAM_FAM_Webfiles_frmAdminITApprovalDtls" title="Admin/IT Approval Details" %>

<%@ Register Src="../../Controls/AdminITApprovalDtls.ascx" TagName="AdminITApprovalDtls"
    TagPrefix="uc1" %>
<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    <uc1:AdminITApprovalDtls id="AdminITApprovalDtls1" runat="server">
    </uc1:AdminITApprovalDtls>
</asp:Content>

