<%@ Page Language="VB" MasterPageFile="~/MasterPage.master" AutoEventWireup="false" CodeFile="frmAddStockItems.aspx.vb" Inherits="FAM_FAM_Webfiles_frmAddStockItems" title="Add Asset" %>

<%@ Register Src="../../Controls/AddStockItems.ascx" TagName="AddStockItems" TagPrefix="uc1" %>
<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    <uc1:AddStockItems id="AddStockItems1" runat="server">
    </uc1:AddStockItems>
</asp:Content>

