<%@ Page Language="VB" MasterPageFile="~/MasterPage.master" AutoEventWireup="false" CodeFile="frmBDGApprovalDetails.aspx.vb" Inherits="FAM_FAM_Webfiles_frmBDGApprovalDetails" title="Budget Approval Details" %>

<%@ Register Src="../../Controls/BDGApprovalDetails.ascx" TagName="BDGApprovalDetails"
    TagPrefix="uc1" %>
<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    <uc1:BDGApprovalDetails ID="BDGApprovalDetails1" runat="server" />

</asp:Content>

