<%@ Page Language="VB" MasterPageFile="~/MasterPage.master" AutoEventWireup="false" CodeFile="frmBudgetApproval.aspx.vb" Inherits="FAM_FAM_Webfiles_frmBudgetApproval" title="Budget Approval" %>

<%@ Register Src="../../Controls/BdgApproval.ascx" TagName="BdgApproval" TagPrefix="uc1" %>
<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    <uc1:BdgApproval ID="BdgApproval1" runat="server" />
</asp:Content>

