<%@ Page Language="VB" MasterPageFile="~/MasterPage.master" AutoEventWireup="false" CodeFile="frmEmpAssetsView.aspx.vb" Inherits="FAM_FAM_Webfiles_frmEmpAssets" title="Untitled Page" %>

<%@ Register Src="../../Controls/EmployeeAssetsView.ascx" TagName="EmployeeAssetsView"
    TagPrefix="uc1" %>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    <uc1:EmployeeAssetsView id="EmployeeAssetsView1" runat="server">
    </uc1:EmployeeAssetsView>
</asp:Content>

