<%@ Page Language="VB" MasterPageFile="~/MasterPage.master" AutoEventWireup="false" CodeFile="frmGenPO.aspx.vb" Inherits="FAM_FAM_Webfiles_frmGenPO" title="Generate PO" %>

<%@ Register Src="../../Controls/GeneratePO.ascx" TagName="GeneratePO" TagPrefix="uc1" %>
<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    <uc1:GeneratePO ID="GeneratePO1" runat="server" />
</asp:Content>

