<%@ Page Language="VB" MasterPageFile="~/MasterPage.master" AutoEventWireup="false" CodeFile="frmModifyPropertyDetails.aspx.vb" Inherits="WorkSpace_SMS_Webfiles_frmModifyPropertyDetails"  %>

<%@ Register Src="../../Controls/ModifyPropertyDetails.ascx" TagName="ModifyPropertyDetails"
    TagPrefix="uc1" %>
<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    <uc1:ModifyPropertyDetails ID="ModifyPropertyDetails1" runat="server" />
</asp:Content>

