<%@ Page Language="VB" MasterPageFile="~/MasterPage.master" AutoEventWireup="false" CodeFile="frmProblemAssets.aspx.vb" Inherits="FAM_FAM_Webfiles_frmClaimAssets" title="Request for Asset " %>

<%@ Register Src="../../Controls/ProblemAssets.ascx" TagName="ProblemAssets" TagPrefix="uc1" %>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    <uc1:ProblemAssets ID="ProblemAssets1" runat="server" />

</asp:Content>

