﻿<%@ Page Title="Consumable Item Issuance" Language="VB" MasterPageFile="~/MasterPage.master" AutoEventWireup="false" CodeFile="frmViewConsumableIssuance.aspx.vb" Inherits="FAM_FAM_Webfiles_frmViewConsumableIssuance"  %>

<%@ Register Src="~/Controls/ViewConsumableIssuane.ascx" TagPrefix="uc1" TagName="ViewConsumableIssuane" %>


<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    <uc1:ViewConsumableIssuane runat="server" ID="ViewConsumableIssuane" />
</asp:Content>

