<%@ Page Language="VB" MasterPageFile="~/MasterPage.master" AutoEventWireup="false" CodeFile="IntraMovementRequisition.aspx.vb" Inherits="FAM_FAM_Webfiles_IntraMovementRequisition" title="Intra Movement Requisition" %>

<%@ Register Src="../../Controls/IntraMovementRequisition.ascx" TagName="IntraMovementRequisition"
    TagPrefix="uc1" %>
<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    <uc1:IntraMovementRequisition ID="IntraMovementRequisition1" runat="server" />

</asp:Content>

