<%@ Page Language="VB" MasterPageFile="~/MasterPage.master" AutoEventWireup="false" CodeFile="ViewIntraMovementRequisition.aspx.vb" Inherits="FAM_FAM_Webfiles_ViewIntraMovementRequisition" title="View Intra Movement Requisition" %>

<%@ Register Src="../../Controls/ViewIntraMovementRequisition.ascx" TagName="ViewIntraMovementRequisition"
    TagPrefix="uc1" %>
<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    <uc1:ViewIntraMovementRequisition ID="ViewIntraMovementRequisition1" runat="server" />
</asp:Content>

