<%@ Page Language="VB" MasterPageFile="~/MasterPage.master" AutoEventWireup="false" CodeFile="frmPropertyDetails.aspx.vb" Inherits="PropertyManagement_Reports_frmPropertyDetails" title="Property Details" %>

<%@ Register Src="Controls/PropertyDetails.ascx" TagName="PropertyDetails" TagPrefix="uc1" %>
<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    <uc1:PropertyDetails ID="PropertyDetails1" runat="server" />
</asp:Content>

