﻿<%@ Page Language="C#" %>

<!DOCTYPE html>

<script runat="server">

</script>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
        <div>
            <iframe width="1024" height="1060" src="https://app.powerbi.com/view?r=eyJrIjoiYzM1OWNmNjMtZTgwZC00MTZhLTkwZWYtMTI0MDA2YzJkYWVlIiwidCI6IjA2YWI3Njc5LTU4ZmYtNDAwZi1iOWM1LWRiZTk3OTgzN2ZhZCJ9&pageName=ReportSection" frameborder="0" allowFullScreen="true"></iframe>
        </div>
    </form>
</body>
</html>



