@font-face {
    font-family: 'Conv_CaviarDreams';
    src: url('../fonts/CaviarDreams.eot');
    src: local('☺'), url('../fonts/CaviarDreams.woff') format('woff'), url('../fonts/CaviarDreams.ttf') format('truetype'), url('../fonts/CaviarDreams.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

/*@font-face {
	font-family: 'Requiem';
	src: url('../fonts/Requiem.eot');
	src: local('☺'), url('../fonts/Requiem.woff') format('woff'), url('../fonts/Requiem.ttf') format('truetype'),
	     url('../fonts/Requiem.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #fff;
    font-family: 'Requiem', Arial;
    font-size: 13px;
    color: black;
}

.mar_b_10px {
    margin-bottom: 10px;
}

.h_line {
    background-color: white;
    opacity: .25;
}

main {
    display: table;
}

header, .content_area {
    display: table-cell;
    vertical-align: top;
}

html, body, main {
    height: 100%;
}

header {
    min-width: 175px;
    padding-bottom: 25px;
    position: relative;
}

.content_area {
    width: 100%;
    padding: 10px;
    height: 100%;
    min-height: 100%;
}

.center_align {
    text-align: center;
}

.profile_pic {
    width: 80px;
    height: 80px;
    margin: 0 auto;
    background: #fff url(../images/user_icon.svg) center center no-repeat;
    background-size: contain;
    border-radius: 100%;
    border: 4px solid #333;
    box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.21);
}

.user_name {
    font-size: 15px;
    color: white;
    background-color: #333;
    border: 3px solid #111;
    padding: 1px 7px;
    border-radius: 25px;
    display: table;
    table-layout: fixed;
    box-shadow: 0 0 5px #333;
    width: 100%;
    cursor: pointer;
    position: relative;
    transition: all .3s ease;
}

    .user_name:hover {
        background-color: #0e1c2f;
        border-color: #192b44;
    }

    .user_name .dropdown-menu {
        width: 100%;
        border-radius: 8px;
    }

    .user_name .flaticon-down-arrow {
        display: table-cell;
        width: 16px;
    }

        .user_name .flaticon-down-arrow:before {
            font-size: 13px;
            margin-right: 5px;
        }

    .user_name > span {
        white-space: nowrap;
        overflow: hidden;
        display: block;
        text-overflow: ellipsis;
        font-size: 13px;
    }

.top_icons .nav_toggle_icon, .top_icons .theme_toggle_icon {
    background-color: #333;
    padding: 2px 6px;
    color: white;
    position: absolute;
}



.nav_toggle_icon, .theme_toggle_icon {
    right: 10px;
    cursor: pointer;
}

.nav_toggle_icon {
    top: 10px;
}

.nav_toggle_icon, .theme_toggle_icon {
    transition: all .3s ease;
    border-radius: 2px;
}

    .nav_toggle_icon:hover, .theme_toggle_icon:hover {
        box-shadow: 0 0px 3px #000;
        border-radius: 20px;
    }

.theme_toggle_icon {
    top: 50px;
}

.white_text, .white_text:hover, .white_text:focus {
    color: white;
}

.change_logo {
    padding-top: 10px;
}

.nav_toggle_icon, .theme_toggle_icon .flaticon-paint:before {
    font-size: 15px;
}

.logo img {
    height: 20px;
}

.compressed .logo, .compressed .profile_pic, .compressed .user_name, .compressed .h_line,
.compressed .foot_title, .compressed .u-vmenu_item, .compressed .last_login, .compressed .change_logo {
    display: none;
    transition: all 0.5s ease-in-out;
}

.compressed .u-vmenu {
    margin-top: 220px;
}

    .compressed .u-vmenu a[data-option] {
        background: none;
    }

    .compressed .u-vmenu [class^="flaticon-"]:before {
        font-size: 26px;
    }

.compressed {
    min-width: 49px;
}

.theme_swatches {
    display: none;
    background-color: white;
    box-shadow: 1px 1px 7px #000;
    border-radius: 3px;
    text-align: center;
    padding: 5px;
    width: 93px;
    position: absolute;
    right: -20px;
    top: 88px;
    z-index: 999;
}

    .theme_swatches:before {
        content: "^";
        position: absolute;
        top: -18px;
        right: 38px;
        font-size: 40px;
        color: white;
    }

    .theme_swatches > i {
        width: 20px;
        height: 20px;
        border-radius: 100%;
        display: inline-block;
        margin: 2px;
        z-index: 9;
        position: relative;
        transition: all .1s ease;
        cursor: pointer;
    }

        .theme_swatches > i:hover {
            border: 3px solid #000;
        }

.active_theme {
    border: 3px solid #000;
}

.red {
    background-color: #c02b5c;
}

.green {
    background-color: #1fa65c;
}

.blue {
    background-color: #208acd;
}

.orange {
    background-color: #f44336;
}

.violet {
    background-color: #9C27B0;
}

.magenta {
    background-color: #e91e63;
}

.persianGreen {
    background-color: #009688;
}


.theme_text {
    font-size: 12px;
    font-weight: bold;
    border-top: 1px dashed #ccc;
    padding-top: 5px;
    display: inline-block;
}

.showthis {
    display: block;
}

.compressed .theme_swatches {
    width: 65px;
}

.top_block {
    padding: 10px 10px 0 10px;
}

footer {
    background-color: #171717;
    color: white;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 5px;
}

.V_tabs {
    display: table;
    width: 100%;
}

    .V_tabs > .nav-tabs, .V_tabs > .tab-content {
        display: table-cell;
    }

    .V_tabs > .tab-content {
        padding: 10px;
        border: 1px solid #f1f0f0;
    }

    .V_tabs > .nav-tabs > li {
        float: none;
        text-align: center;
        border-radius: 10px 0 0 10px;
    }

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    border-right-color: transparent;
    border-bottom-color: #ccc;
}

.nav-tabs > li > a > i:before {
    font-size: 25px !important;
}

.nav-tabs > li > a {
    font-size: 14px;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
    color: #FFF;
    border: 0;
    border-bottom-color: transparent;
    border-radius: 5px 0 0 5px;
    background-color: transparent;
    ;
}

.nav-tabs > li > a {
    border: none;
}

    .nav-tabs > li > a:hover {
        border: none;
        background-color: transparent;
    }

.nav-tabs {
    border: none;
    width: 100px;
}

.user_details {
    font-size: 18px;
}

.user_profile_pic_big {
    width: 170px;
    height: 200px;
    position: relative;
    background: #fff url(../images/user_icon.svg) center center no-repeat;
    background-size: contain;
    border: 1px solid #ccc;
    border-radius: 15px;
}

.row {
    margin-bottom: 10px;
}

.panel-title > a {
    padding: 10px 15px;
    display: block;
    color: white;
    font-size: 16px;
}

    .panel-title > a.collapsed {
        color: #444;
    }

.panel-heading {
    padding: 0;
}

.form-group {
    margin-bottom: 0px;
}

.panel-default > .panel-heading {
    padding: 5px;
    font-weight: bold;
}

#assets .panel-body {
    min-height: 350px;
}

.panel-green {
    border-color: #5cb85c;
    border: 5px solid #5cb85c;
    padding: .5em;
    outline: 1px solid #1f880e;
    border-radius: 0;
}

.panel-red {
    border-color: #d9534f;
    border: 5px solid #d9534f;
    padding: .5em;
    outline: 1px solid #80221f;
    border-radius: 0;
}

.huge {
    font-size: 40px;
}

.icon-xxl {
    font-size: 80px;
}

.panel-green .glyphicon {
    color: #5cb85c;
}

.panel-red .glyphicon {
    color: #d9534f;
}

.edit_photo {
    opacity: .3;
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
    transition: all .3s ease;
}

.user_profile_pic_big:hover .edit_photo {
    opacity: 1;
}

#accordion .panel-heading {
    padding: 0;
}

.breadcrumb > li + li:before {
    content: ">";
}

.breadcrumb {
    padding: 3px 7px;
    margin-bottom: 5px;
    list-style: none;
    background-color: #f5f5f5;
    border-radius: 4px;
    font-size: 12px;
    text-transform: uppercase;
}

.container-fluid {
    padding: 0;
}

.align_right {
    text-align: right;
}

.btn {
    padding: 3px 16px;
    transition: all .2s ease;
    border-radius: 2px;
    border-bottom-width: 3px;
}

    .btn:not(.btn-link):hover {
        box-shadow: 0 1px 7px #a5a0a0;
    }

.alert {
    padding: 6px;
}

.alert-dismissable .close, .alert-dismissible .close {
    right: 0;
}

.table > tbody > tr:nth-child(even) {
    background-color: #f9f9f9;
}

.table > thead > tr > th {
    border-width: 0;
    font-weight: normal;
}

.table > tbody > tr {
    transition: all .5 ease;
}

.align_center {
    text-align: center;
}

.last_login {
    color: white;
    font-size: 12px;
}
/*form fields*/
.mandatory {
    /*border: 2px solid red !important;*/
    border:  1px solid red; 
}

    .mandatory + label {
        color: red !important;
    }

.fms_form_group label {
    display: block;
    color: #868585;
    font-weight: normal;
    text-transform: uppercase;
    font-size: 11px;
    font-family: arial;
    padding-left: .5em;
}

.fms_form_group input[type=text], .fms_form_group select, .fms_form_group textarea, .chosen-choices {
    width: 100%;
    border-width: 0 0 2px 0;
    border-color: #e4e4e4;
    border-style: solid;
    background-color: #fdfdfd;
    transition: all .2s ease-in-out;
    padding: 3px;
    border-radius: 3px;
}

    .fms_form_group input[type=text]:hover, .fms_form_group select:hover, .fms_form_group textarea:hover, .chosen-choices:hover {
        border-color: #ccc;
        background-color: #f9f7f7;
    }

    .fms_form_group input[type=text]:focus, .fms_form_group select:focus, .fms_form_group textarea:focus, .chosen-choices:focus {
        outline: none;
        background-color: #f3f1f1;
        border-color: #2196F3;
    }

        .fms_form_group input[type=text]:focus + label, select:focus + label, textarea:focus + label {
            color: #2196F3;
        }

.fms_form_group {
    margin-bottom: 1em;
}

    .fms_form_group > .glyphicon {
        position: absolute;
        right: 5px;
        top: 6px;
        color: #929090;
    }

    .fms_form_group textarea {
        height: 29px;
    }

.text_alert_group {
    font-size: 12px;
}

.text_error {
    color: #dc0d0d;
}

.text_info {
    color: #da9a09;
}

.text_success {
    color: #168c16;
}

.has_icon input[type="text"] {
    padding-right: 25px;
}

.has_icon {
    position: relative;
}
/*form fields end*/
.pagination > li > a {
    transition: all .2s ease;
}

.demo-container-loader {
    position: relative;
    height: 30px;
}

    .demo-container-loader .windows8 {
        margin-left: 420px;
    }

    .demo-container-loader #fountainG {
        margin-left: 200px;
    }

    .demo-container-loader .cssload-jumping {
        margin: -20px 0 0 0;
    }

/*Loaders*/

.cssload-spin-box {
    position: absolute;
    margin: auto;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    width: 8px;
    height: 8px;
    border-radius: 100%;
    box-shadow: 8px 8px rgb(79,77,73), -8px 8px rgb(223,223,223), -8px -8px rgb(79,77,73), 8px -8px rgb(223,223,223);
    -o-box-shadow: 8px 8px rgb(79,77,73), -8px 8px rgb(223,223,223), -8px -8px rgb(79,77,73), 8px -8px rgb(223,223,223);
    -ms-box-shadow: 8px 8px rgb(79,77,73), -8px 8px rgb(223,223,223), -8px -8px rgb(79,77,73), 8px -8px rgb(223,223,223);
    -webkit-box-shadow: 8px 8px rgb(79,77,73), -8px 8px rgb(223,223,223), -8px -8px rgb(79,77,73), 8px -8px rgb(223,223,223);
    -moz-box-shadow: 8px 8px rgb(79,77,73), -8px 8px rgb(223,223,223), -8px -8px rgb(79,77,73), 8px -8px rgb(223,223,223);
    animation: cssload-spin ease infinite 4.6s;
    -o-animation: cssload-spin ease infinite 4.6s;
    -ms-animation: cssload-spin ease infinite 4.6s;
    -webkit-animation: cssload-spin ease infinite 4.6s;
    -moz-animation: cssload-spin ease infinite 4.6s;
}



@keyframes cssload-spin {
    0%, 100% {
        box-shadow: 8px 8px rgb(79,77,73), -8px 8px rgb(223,223,223), -8px -8px rgb(79,77,73), 8px -8px rgb(223,223,223);
    }

    25% {
        box-shadow: -8px 8px rgb(223,223,223), -8px -8px rgb(79,77,73), 8px -8px rgb(223,223,223), 8px 8px rgb(79,77,73);
    }

    50% {
        box-shadow: -8px -8px rgb(79,77,73), 8px -8px rgb(223,223,223), 8px 8px rgb(79,77,73), -8px 8px rgb(223,223,223);
    }

    75% {
        box-shadow: 8px -8px #dfdfdf, 8px 8px #4f4d49, -8px 8px #dfdfdf, -8px -8px #4f4d49;
    }
}

@-o-keyframes cssload-spin {
    0%, 100%;

{
    box-shadow: 8px 8px rgb(79,77,73), -8px 8px rgb(223,223,223), -8px -8px rgb(79,77,73), 8px -8px rgb(223,223,223);
}

25% {
    box-shadow: -8px 8px rgb(223,223,223), -8px -8px rgb(79,77,73), 8px -8px rgb(223,223,223), 8px 8px rgb(79,77,73);
}

50% {
    box-shadow: -8px -8px rgb(79,77,73), 8px -8px rgb(223,223,223), 8px 8px rgb(79,77,73), -8px 8px rgb(223,223,223);
}

75% {
    box-shadow: 8px -8px #dfdfdf, 8px 8px #4f4d49, -8px 8px #dfdfdf, -8px -8px #4f4d49;
}

}

@-ms-keyframes cssload-spin {
    0%, 100% {
        box-shadow: 8px 8px rgb(79,77,73), -8px 8px rgb(223,223,223), -8px -8px rgb(79,77,73), 8px -8px rgb(223,223,223);
    }

    25% {
        box-shadow: -8px 8px rgb(223,223,223), -8px -8px rgb(79,77,73), 8px -8px rgb(223,223,223), 8px 8px rgb(79,77,73);
    }

    50% {
        box-shadow: -8px -8px rgb(79,77,73), 8px -8px rgb(223,223,223), 8px 8px rgb(79,77,73), -8px 8px rgb(223,223,223);
    }

    75% {
        box-shadow: 8px -8px #dfdfdf, 8px 8px #4f4d49, -8px 8px #dfdfdf, -8px -8px #4f4d49;
    }
}

@-webkit-keyframes cssload-spin {
    0%, 100% {
        box-shadow: 8px 8px rgb(79,77,73), -8px 8px rgb(223,223,223), -8px -8px rgb(79,77,73), 8px -8px rgb(223,223,223);
    }

    25% {
        box-shadow: -8px 8px rgb(223,223,223), -8px -8px rgb(79,77,73), 8px -8px rgb(223,223,223), 8px 8px rgb(79,77,73);
    }

    50% {
        box-shadow: -8px -8px rgb(79,77,73), 8px -8px rgb(223,223,223), 8px 8px rgb(79,77,73), -8px 8px rgb(223,223,223);
    }

    75% {
        box-shadow: 8px -8px #dfdfdf, 8px 8px #4f4d49, -8px 8px #dfdfdf, -8px -8px #4f4d49;
    }
}

@-moz-keyframes cssload-spin {
    0%, 100% {
        box-shadow: 8px 8px rgb(79,77,73), -8px 8px rgb(223,223,223), -8px -8px rgb(79,77,73), 8px -8px rgb(223,223,223);
    }

    25% {
        box-shadow: -8px 8px rgb(223,223,223), -8px -8px rgb(79,77,73), 8px -8px rgb(223,223,223), 8px 8px rgb(79,77,73);
    }

    50% {
        box-shadow: -8px -8px rgb(79,77,73), 8px -8px rgb(223,223,223), 8px 8px rgb(79,77,73), -8px 8px rgb(223,223,223);
    }

    75% {
        box-shadow: 8px -8px #dfdfdf, 8px 8px #4f4d49, -8px 8px #dfdfdf, -8px -8px #4f4d49;
    }
}

.windows8 {
    position: relative;
    width: 36px;
    height: 36px;
    margin: auto;
}

    .windows8 .wBall {
        position: absolute;
        width: 34px;
        height: 34px;
        opacity: 0;
        transform: rotate(225deg);
        -o-transform: rotate(225deg);
        -ms-transform: rotate(225deg);
        -webkit-transform: rotate(225deg);
        -moz-transform: rotate(225deg);
        animation: orbit 4.2325s infinite;
        -o-animation: orbit 4.2325s infinite;
        -ms-animation: orbit 4.2325s infinite;
        -webkit-animation: orbit 4.2325s infinite;
        -moz-animation: orbit 4.2325s infinite;
    }

        .windows8 .wBall .wInnerBall {
            position: absolute;
            width: 4px;
            height: 4px;
            background: rgb(0,0,0);
            left: 0px;
            top: 0px;
            border-radius: 4px;
        }

    .windows8 #wBall_1 {
        animation-delay: 0.926s;
        -o-animation-delay: 0.926s;
        -ms-animation-delay: 0.926s;
        -webkit-animation-delay: 0.926s;
        -moz-animation-delay: 0.926s;
    }

    .windows8 #wBall_2 {
        animation-delay: 0.183s;
        -o-animation-delay: 0.183s;
        -ms-animation-delay: 0.183s;
        -webkit-animation-delay: 0.183s;
        -moz-animation-delay: 0.183s;
    }

    .windows8 #wBall_3 {
        animation-delay: 0.3665s;
        -o-animation-delay: 0.3665s;
        -ms-animation-delay: 0.3665s;
        -webkit-animation-delay: 0.3665s;
        -moz-animation-delay: 0.3665s;
    }

    .windows8 #wBall_4 {
        animation-delay: 0.5495s;
        -o-animation-delay: 0.5495s;
        -ms-animation-delay: 0.5495s;
        -webkit-animation-delay: 0.5495s;
        -moz-animation-delay: 0.5495s;
    }

    .windows8 #wBall_5 {
        animation-delay: 0.743s;
        -o-animation-delay: 0.743s;
        -ms-animation-delay: 0.743s;
        -webkit-animation-delay: 0.743s;
        -moz-animation-delay: 0.743s;
    }



@keyframes orbit {
    0% {
        opacity: 1;
        z-index: 99;
        transform: rotate(180deg);
        animation-timing-function: ease-out;
    }

    7% {
        opacity: 1;
        transform: rotate(300deg);
        animation-timing-function: linear;
        origin: 0%;
    }

    30% {
        opacity: 1;
        transform: rotate(410deg);
        animation-timing-function: ease-in-out;
        origin: 7%;
    }

    39% {
        opacity: 1;
        transform: rotate(645deg);
        animation-timing-function: linear;
        origin: 30%;
    }

    70% {
        opacity: 1;
        transform: rotate(770deg);
        animation-timing-function: ease-out;
        origin: 39%;
    }

    75% {
        opacity: 1;
        transform: rotate(900deg);
        animation-timing-function: ease-out;
        origin: 70%;
    }

    76% {
        opacity: 0;
        transform: rotate(900deg);
    }

    100% {
        opacity: 0;
        transform: rotate(900deg);
    }
}

@-o-keyframes orbit {
    0%;

{
    opacity: 1;
    z-index: 99;
    -o-transform: rotate(180deg);
    -o-animation-timing-function: ease-out;
}

7% {
    opacity: 1;
    -o-transform: rotate(300deg);
    -o-animation-timing-function: linear;
    -o-origin: 0%;
}

30% {
    opacity: 1;
    -o-transform: rotate(410deg);
    -o-animation-timing-function: ease-in-out;
    -o-origin: 7%;
}

39% {
    opacity: 1;
    -o-transform: rotate(645deg);
    -o-animation-timing-function: linear;
    -o-origin: 30%;
}

70% {
    opacity: 1;
    -o-transform: rotate(770deg);
    -o-animation-timing-function: ease-out;
    -o-origin: 39%;
}

75% {
    opacity: 1;
    -o-transform: rotate(900deg);
    -o-animation-timing-function: ease-out;
    -o-origin: 70%;
}

76% {
    opacity: 0;
    -o-transform: rotate(900deg);
}

100% {
    opacity: 0;
    -o-transform: rotate(900deg);
}

}

@-ms-keyframes orbit {
    0% {
        opacity: 1;
        z-index: 99;
        -ms-transform: rotate(180deg);
        -ms-animation-timing-function: ease-out;
    }

    7% {
        opacity: 1;
        -ms-transform: rotate(300deg);
        -ms-animation-timing-function: linear;
        -ms-origin: 0%;
    }

    30% {
        opacity: 1;
        -ms-transform: rotate(410deg);
        -ms-animation-timing-function: ease-in-out;
        -ms-origin: 7%;
    }

    39% {
        opacity: 1;
        -ms-transform: rotate(645deg);
        -ms-animation-timing-function: linear;
        -ms-origin: 30%;
    }

    70% {
        opacity: 1;
        -ms-transform: rotate(770deg);
        -ms-animation-timing-function: ease-out;
        -ms-origin: 39%;
    }

    75% {
        opacity: 1;
        -ms-transform: rotate(900deg);
        -ms-animation-timing-function: ease-out;
        -ms-origin: 70%;
    }

    76% {
        opacity: 0;
        -ms-transform: rotate(900deg);
    }

    100% {
        opacity: 0;
        -ms-transform: rotate(900deg);
    }
}

@-webkit-keyframes orbit {
    0% {
        opacity: 1;
        z-index: 99;
        -webkit-transform: rotate(180deg);
        -webkit-animation-timing-function: ease-out;
    }

    7% {
        opacity: 1;
        -webkit-transform: rotate(300deg);
        -webkit-animation-timing-function: linear;
        -webkit-origin: 0%;
    }

    30% {
        opacity: 1;
        -webkit-transform: rotate(410deg);
        -webkit-animation-timing-function: ease-in-out;
        -webkit-origin: 7%;
    }

    39% {
        opacity: 1;
        -webkit-transform: rotate(645deg);
        -webkit-animation-timing-function: linear;
        -webkit-origin: 30%;
    }

    70% {
        opacity: 1;
        -webkit-transform: rotate(770deg);
        -webkit-animation-timing-function: ease-out;
        -webkit-origin: 39%;
    }

    75% {
        opacity: 1;
        -webkit-transform: rotate(900deg);
        -webkit-animation-timing-function: ease-out;
        -webkit-origin: 70%;
    }

    76% {
        opacity: 0;
        -webkit-transform: rotate(900deg);
    }

    100% {
        opacity: 0;
        -webkit-transform: rotate(900deg);
    }
}

@-moz-keyframes orbit {
    0% {
        opacity: 1;
        z-index: 99;
        -moz-transform: rotate(180deg);
        -moz-animation-timing-function: ease-out;
    }

    7% {
        opacity: 1;
        -moz-transform: rotate(300deg);
        -moz-animation-timing-function: linear;
        -moz-origin: 0%;
    }

    30% {
        opacity: 1;
        -moz-transform: rotate(410deg);
        -moz-animation-timing-function: ease-in-out;
        -moz-origin: 7%;
    }

    39% {
        opacity: 1;
        -moz-transform: rotate(645deg);
        -moz-animation-timing-function: linear;
        -moz-origin: 30%;
    }

    70% {
        opacity: 1;
        -moz-transform: rotate(770deg);
        -moz-animation-timing-function: ease-out;
        -moz-origin: 39%;
    }

    75% {
        opacity: 1;
        -moz-transform: rotate(900deg);
        -moz-animation-timing-function: ease-out;
        -moz-origin: 70%;
    }

    76% {
        opacity: 0;
        -moz-transform: rotate(900deg);
    }

    100% {
        opacity: 0;
        -moz-transform: rotate(900deg);
    }
}

#fountainG {
    position: relative;
    width: 102px;
    height: 12px;
    margin: auto;
}

.fountainG {
    position: absolute;
    top: 0;
    background-color: rgb(0,0,0);
    width: 12px;
    height: 12px;
    animation-name: bounce_fountainG;
    -o-animation-name: bounce_fountainG;
    -ms-animation-name: bounce_fountainG;
    -webkit-animation-name: bounce_fountainG;
    -moz-animation-name: bounce_fountainG;
    animation-duration: 1.035s;
    -o-animation-duration: 1.035s;
    -ms-animation-duration: 1.035s;
    -webkit-animation-duration: 1.035s;
    -moz-animation-duration: 1.035s;
    animation-iteration-count: infinite;
    -o-animation-iteration-count: infinite;
    -ms-animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    animation-direction: normal;
    -o-animation-direction: normal;
    -ms-animation-direction: normal;
    -webkit-animation-direction: normal;
    -moz-animation-direction: normal;
    transform: scale(.3);
    -o-transform: scale(.3);
    -ms-transform: scale(.3);
    -webkit-transform: scale(.3);
    -moz-transform: scale(.3);
    border-radius: 8px;
    -o-border-radius: 8px;
    -ms-border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
}

#fountainG_1 {
    left: 0;
    animation-delay: 0.416s;
    -o-animation-delay: 0.416s;
    -ms-animation-delay: 0.416s;
    -webkit-animation-delay: 0.416s;
    -moz-animation-delay: 0.416s;
}

#fountainG_2 {
    left: 13px;
    animation-delay: 0.5225s;
    -o-animation-delay: 0.5225s;
    -ms-animation-delay: 0.5225s;
    -webkit-animation-delay: 0.5225s;
    -moz-animation-delay: 0.5225s;
}

#fountainG_3 {
    left: 25px;
    animation-delay: 0.619s;
    -o-animation-delay: 0.619s;
    -ms-animation-delay: 0.619s;
    -webkit-animation-delay: 0.619s;
    -moz-animation-delay: 0.619s;
}

#fountainG_4 {
    left: 38px;
    animation-delay: 0.7255s;
    -o-animation-delay: 0.7255s;
    -ms-animation-delay: 0.7255s;
    -webkit-animation-delay: 0.7255s;
    -moz-animation-delay: 0.7255s;
}

#fountainG_5 {
    left: 51px;
    animation-delay: 0.832s;
    -o-animation-delay: 0.832s;
    -ms-animation-delay: 0.832s;
    -webkit-animation-delay: 0.832s;
    -moz-animation-delay: 0.832s;
}

#fountainG_6 {
    left: 64px;
    animation-delay: 0.9385s;
    -o-animation-delay: 0.9385s;
    -ms-animation-delay: 0.9385s;
    -webkit-animation-delay: 0.9385s;
    -moz-animation-delay: 0.9385s;
}

#fountainG_7 {
    left: 76px;
    animation-delay: 1.035s;
    -o-animation-delay: 1.035s;
    -ms-animation-delay: 1.035s;
    -webkit-animation-delay: 1.035s;
    -moz-animation-delay: 1.035s;
}

#fountainG_8 {
    left: 89px;
    animation-delay: 1.1415s;
    -o-animation-delay: 1.1415s;
    -ms-animation-delay: 1.1415s;
    -webkit-animation-delay: 1.1415s;
    -moz-animation-delay: 1.1415s;
}



@keyframes bounce_fountainG {
    0% {
        transform: scale(1);
        background-color: rgb(0,0,0);
    }

    100% {
        transform: scale(.3);
        background-color: rgb(255,255,255);
    }
}

@-o-keyframes bounce_fountainG {
    0%;

{
    -o-transform: scale(1);
    background-color: rgb(0,0,0);
}

100% {
    -o-transform: scale(.3);
    background-color: rgb(255,255,255);
}

}

@-ms-keyframes bounce_fountainG {
    0% {
        -ms-transform: scale(1);
        background-color: rgb(0,0,0);
    }

    100% {
        -ms-transform: scale(.3);
        background-color: rgb(255,255,255);
    }
}

@-webkit-keyframes bounce_fountainG {
    0% {
        -webkit-transform: scale(1);
        background-color: rgb(0,0,0);
    }

    100% {
        -webkit-transform: scale(.3);
        background-color: rgb(255,255,255);
    }
}

@-moz-keyframes bounce_fountainG {
    0% {
        -moz-transform: scale(1);
        background-color: rgb(0,0,0);
    }

    100% {
        -moz-transform: scale(.3);
        background-color: rgb(255,255,255);
    }
}

.cssload-jumping {
    position: relative;
    display: block;
    margin: 62px auto;
    width: 69px;
}

    .cssload-jumping, .cssload-jumping * {
        box-sizing: border-box;
    }

        .cssload-jumping span {
            display: inline-block;
            height: 9px;
            width: 9px;
            background: rgba(0,0,0,0.98);
            border-radius: 312px;
            background-clip: padding-box;
            -o-background-clip: padding-box;
            -ms-background-clip: padding-box;
            -webkit-background-clip: padding-box;
            -moz-background-clip: padding-box;
        }

            .cssload-jumping span:nth-child(1) {
                animation: scale 1.15s 0.12s infinite cubic-bezier(0.6, -0.28, 0.735, 0.045);
                -o-animation: scale 1.15s 0.12s infinite cubic-bezier(0.6, -0.28, 0.735, 0.045);
                -ms-animation: scale 1.15s 0.12s infinite cubic-bezier(0.6, -0.28, 0.735, 0.045);
                -webkit-animation: scale 1.15s 0.12s infinite cubic-bezier(0.6, -0.28, 0.735, 0.045);
                -moz-animation: scale 1.15s 0.12s infinite cubic-bezier(0.6, -0.28, 0.735, 0.045);
            }

            .cssload-jumping span:nth-child(2) {
                animation: scale 1.15s 0.23s infinite cubic-bezier(0.6, -0.28, 0.735, 0.045);
                -o-animation: scale 1.15s 0.23s infinite cubic-bezier(0.6, -0.28, 0.735, 0.045);
                -ms-animation: scale 1.15s 0.23s infinite cubic-bezier(0.6, -0.28, 0.735, 0.045);
                -webkit-animation: scale 1.15s 0.23s infinite cubic-bezier(0.6, -0.28, 0.735, 0.045);
                -moz-animation: scale 1.15s 0.23s infinite cubic-bezier(0.6, -0.28, 0.735, 0.045);
            }

            .cssload-jumping span:nth-child(3) {
                animation: scale 1.15s 0.35s infinite cubic-bezier(0.6, -0.28, 0.735, 0.045);
                -o-animation: scale 1.15s 0.35s infinite cubic-bezier(0.6, -0.28, 0.735, 0.045);
                -ms-animation: scale 1.15s 0.35s infinite cubic-bezier(0.6, -0.28, 0.735, 0.045);
                -webkit-animation: scale 1.15s 0.35s infinite cubic-bezier(0.6, -0.28, 0.735, 0.045);
                -moz-animation: scale 1.15s 0.35s infinite cubic-bezier(0.6, -0.28, 0.735, 0.045);
            }

            .cssload-jumping span:nth-child(4) {
                animation: scale 1.15s 0.46s infinite cubic-bezier(0.6, -0.28, 0.735, 0.045);
                -o-animation: scale 1.15s 0.46s infinite cubic-bezier(0.6, -0.28, 0.735, 0.045);
                -ms-animation: scale 1.15s 0.46s infinite cubic-bezier(0.6, -0.28, 0.735, 0.045);
                -webkit-animation: scale 1.15s 0.46s infinite cubic-bezier(0.6, -0.28, 0.735, 0.045);
                -moz-animation: scale 1.15s 0.46s infinite cubic-bezier(0.6, -0.28, 0.735, 0.045);
            }

            .cssload-jumping span:nth-child(5) {
                animation: scale 1.15s 0.58s infinite cubic-bezier(0.6, -0.28, 0.735, 0.045);
                -o-animation: scale 1.15s 0.58s infinite cubic-bezier(0.6, -0.28, 0.735, 0.045);
                -ms-animation: scale 1.15s 0.58s infinite cubic-bezier(0.6, -0.28, 0.735, 0.045);
                -webkit-animation: scale 1.15s 0.58s infinite cubic-bezier(0.6, -0.28, 0.735, 0.045);
                -moz-animation: scale 1.15s 0.58s infinite cubic-bezier(0.6, -0.28, 0.735, 0.045);
            }



@keyframes scale {
    0% {
        transform: scale(0);
    }

    25% {
        transform: scale(0.9, 0.9);
        background: rgb(179,179,179);
    }

    50% {
        transform: scale(1, 1);
        margin: 0 2px;
        background: rgb(0,0,0);
    }

    100% {
        transform: scale(0);
    }
}

@-o-keyframes scale {
    0%;

{
    -o-transform: scale(0);
}

25% {
    -o-transform: scale(0.9, 0.9);
    background: rgb(179,179,179);
}

50% {
    -o-transform: scale(1, 1);
    margin: 0 2px;
    background: rgb(0,0,0);
}

100% {
    -o-transform: scale(0);
}

}

@-ms-keyframes scale {
    0% {
        -ms-transform: scale(0);
    }

    25% {
        -ms-transform: scale(0.9, 0.9);
        background: rgb(179,179,179);
    }

    50% {
        -ms-transform: scale(1, 1);
        margin: 0 2px;
        background: rgb(0,0,0);
    }

    100% {
        -ms-transform: scale(0);
    }
}

@-webkit-keyframes scale {
    0% {
        -webkit-transform: scale(0);
    }

    25% {
        -webkit-transform: scale(0.9, 0.9);
        background: rgb(179,179,179);
    }

    50% {
        -webkit-transform: scale(1, 1);
        margin: 0 2px;
        background: rgb(0,0,0);
    }

    100% {
        -webkit-transform: scale(0);
    }
}

@-moz-keyframes scale {
    0% {
        -moz-transform: scale(0);
    }

    25% {
        -moz-transform: scale(0.9, 0.9);
        background: rgb(179,179,179);
    }

    50% {
        -moz-transform: scale(1, 1);
        margin: 0 2px;
        background: rgb(0,0,0);
    }

    100% {
        -moz-transform: scale(0);
    }
}
/*loaders end*/


/*radio & checkbox*/
.checkbox-custom, .radio-custom {
    opacity: 0;
    position: absolute;
}

.checkbox-custom, .checkbox-custom-label, .radio-custom, .radio-custom-label {
    display: inline-block;
    vertical-align: middle;
    margin: 5px;
    cursor: pointer;
}

.checkbox-custom-label, .radio-custom-label {
    position: relative;
}

.checkbox-custom + .checkbox-custom-label:before, .radio-custom + .radio-custom-label:before {
    content: '';
    background: #fff;
    border: 2px solid #ddd;
    display: inline-block;
    vertical-align: middle;
    width: 16px;
    height: 16px;
    padding: 2px;
    margin-right: 7px;
    text-align: center;
    transition: all .2s ease;
}

.checkbox-custom:checked + .checkbox-custom-label:before {
    background: #2196F3;
    box-shadow: inset 0px 0px 0px 2px #fff;
}

.radio-custom + .radio-custom-label:before {
    border-radius: 50%;
}

.radio-custom:checked + .radio-custom-label:before {
    background: #2196F3;
    box-shadow: inset 0px 0px 0px 2px #fff;
}

/*radio & checkbox end*/

/*Autosearch suggetions dropdown*/
.autocomplete-suggestions {
    border: 1px solid #999;
    background: #FFF;
    cursor: default;
    overflow: auto;
    -webkit-box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64);
    -moz-box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64);
    box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64);
}

.autocomplete-suggestion {
    padding: 2px 5px;
    white-space: nowrap;
    overflow: hidden;
}

.autocomplete-no-suggestion {
    padding: 2px 5px;
}

.autocomplete-selected {
    background: #F0F0F0;
}

.autocomplete-suggestions strong {
    font-weight: bold;
    color: #000;
}

.autocomplete-group {
    padding: 2px 5px;
}

    .autocomplete-group strong {
        font-weight: bold;
        font-size: 16px;
        color: #000;
        display: block;
        border-bottom: 1px solid #000;
    }

.date_range .fms_form_group {
    display: inline-block;
}

.panel-custom {
    position: relative;
}

.p_heading {
    background-color: #ccc;
    width: auto;
    display: inline;
    padding: 3px 6px;
    color: white;
    border-top: 2px solid #000;
    border-radius: 3px 3px 0 0;
}

.p_body {
    border: 1px solid #2a8ac8;
    padding: 5px;
    border-radius: 0 3px 3px 3px;
}

.ui-draggable .modal-header {
    cursor: all-scroll;
}

.modal {
    overflow: hidden !important;
}

.modal-dialog {
}

.ui-draggable {
    overflow-y: hidden;
}

.custom-upload {
    position: relative;
    height: 30px;
    width: 300px;
}

    .custom-upload input[type=file] {
        outline: none;
        position: relative;
        text-align: right;
        -moz-opacity: 0;
        filter: alpha(opacity: 0);
        opacity: 0;
        z-index: 2;
        width: 100%;
        height: 100%;
    }

    .custom-upload .fake-file {
        background: url(../images/upload-file.png) center right no-repeat;
        position: absolute;
        top: 0px;
        left: 0px;
        width: 300px;
        padding: 0;
        margin: 0;
        z-index: 1;
        line-height: 100%;
    }

        .custom-upload .fake-file input {
            font-size: 16px;
            height: 30px;
            width: 270px;
        }
