<%@ Page Language="VB" MasterPageFile="~/MasterPage.master" AutoEventWireup="false" CodeFile="frmGMRAttendance.aspx.vb" Inherits="ESP_ESP_Webfiles_frmGMRAttendance" title="GMR Attendance" %>

<%@ Register Src="../../Controls/GMRAttendance.ascx" TagName="GMRAttendance" TagPrefix="uc1" %>
<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    <uc1:GMRAttendance ID="GMRAttendance1" runat="server" />
</asp:Content>

