<%@ Page Language="VB" MasterPageFile="~/MasterPage.master" AutoEventWireup="false" CodeFile="frmAMGVendorModify.aspx.vb" Inherits="WorkSpace_SMS_Webfiles_frmAMGVendorModify" %>

<%@ Register Src="../../../Controls/AMGVendorModify.ascx" TagName="AMGVendorModify"
    TagPrefix="uc1" %>
<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    <uc1:AMGVendorModify ID="AMGVendorModify1" runat="server" />
</asp:Content>

