<%@ Page Language="VB" MasterPageFile="~/MasterPage.master" AutoEventWireup="false" CodeFile="frmAssignMaintenanceRequest.aspx.vb" Inherits="WorkSpace_SMS_Webfiles_AssignMaintenanceRequest" title="Assign Maintenance Request" %>

<%@ Register Src="../../Controls/AssignMaintenanceRequest.ascx" TagName="AssignMaintenanceRequest"
    TagPrefix="uc1" %>
<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    <uc1:AssignMaintenanceRequest ID="AssignMaintenanceRequest1" runat="server" />
</asp:Content>

