<%@ Page Language="VB" MasterPageFile="~/MasterPage.master" AutoEventWireup="false" CodeFile="frmAssetUtilizationReport.aspx.vb" Inherits="WorkSpace_SMS_Webfiles_frmAssetUtilizationReport" title="Asset Utilization Report" %>

<%@ Register Src="../../Controls/AssetUtilizationReport.ascx" TagName="AssetUtilizationReport"
    TagPrefix="uc1" %>
<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    <uc1:AssetUtilizationReport ID="AssetUtilizationReport1" runat="server" />
</asp:Content>

