<%@ Page Language="VB" MasterPageFile="~/MasterPage.master" AutoEventWireup="false" CodeFile="frmAMGBrandGetDetails.aspx.vb" Inherits="WorkSpace_SMS_Webfiles_frmAMGBrandGetDetails" %>
<%@Register Src="~/Controls/AMGBrandGetDetails.ascx" TagName="ucBrandGetDetails" TagPrefix="uc1" %>
<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
<uc1:ucBrandGetDetails ID="BrandGetDetails1" runat="server" />
</asp:Content>

