<%@ Page Language="VB" MasterPageFile="~/MasterPage.master" AutoEventWireup="false"
    CodeFile="frmAMGAssetGetDetails.aspx.vb" Inherits="Default3" %>
    <%@ Register Src="~/Controls/AssetGetDetails.ascx" TagName="ucAssetGetDetails" TagPrefix="AssetGetDetails" %>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" runat="Server">
<AssetGetDetails:ucAssetGetDetails id="AssetGetDetails1" runat="server"></AssetGetDetails:ucAssetGetDetails>
   
</asp:Content>
