<%@ Page Language="VB" MasterPageFile="~/MasterPage.master" AutoEventWireup="false" CodeFile="frmAMGTaggedModify.aspx.vb" Inherits="frmAMGTaggedModify" title="Untitled Page" %>

<%@ Register Src="../../Controls/AMGTaggedModify.ascx" TagName="AMGTaggedModify"
    TagPrefix="uc1" %>
<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    <uc1:AMGTaggedModify ID="AMGTaggedModify1" runat="server" />
 
 
</asp:Content>

