<%@ Page Language="VB" MasterPageFile="~/MasterPage.master" AutoEventWireup="false" CodeFile="frmApprovalLease.aspx.vb" Inherits="WorkSpace_SMS_Webfiles_frmApprovalLease" title="Lease Approval" %>

<%@ Register Src="~/Controls/ApprovalLease.ascx" TagName="ApprovalLease" TagPrefix="uc1" %>
<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    <uc1:ApprovalLease ID="ApprovalLease1" runat="server" />
</asp:Content>

