<%@ Page Language="VB" MasterPageFile="~/MasterPage.master" AutoEventWireup="false" CodeFile="frmAnalysisRpt.aspx.vb" Inherits="WorkSpace_SMS_Webfiles_frmAnalysisRpt"   %>

<%@ Register Src="Controls/AnalysisRpt.ascx" TagName="AnalysisRpt" TagPrefix="uc1" %>
<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    <uc1:AnalysisRpt ID="AnalysisRpt1" runat="server" />
</asp:Content>

