<%@ Page Language="VB" MasterPageFile="~/MasterPage.master" AutoEventWireup="false" CodeFile="frmCheckedListRM.aspx.vb" Inherits="Controls_frmCheckedListRM" title="RM Approval" %>

<%@ Register Src="../../Controls/CheckedListRM.ascx" TagName="CheckedListRM" TagPrefix="uc2" %>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    <uc2:CheckedListRM ID="CheckedListRM1" runat="server" />
</asp:Content>

