<%@ Page Language="VB" MasterPageFile="~/MasterPage.master" AutoEventWireup="false" CodeFile="frmEditPropertyType.aspx.vb" Inherits="WorkSpace_SMS_Webfiles_frmEditPropertyType" title="Edit PropertyType" %>

<%@ Register Src="../../Controls/EditPropertyType.ascx" TagName="EditPropertyType"
    TagPrefix="uc1" %>
<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    <uc1:EditPropertyType ID="EditPropertyType1" runat="server" />
</asp:Content>

