<%@ Page Language="VB" MasterPageFile="~/MasterPage.master" AutoEventWireup="false" CodeFile="frmEditLease.aspx.vb" Inherits="WorkSpace_SMS_Webfiles_frmEditLease" title="Modify Lease" %>

<%@ Register Src="../../Controls/EditLease.ascx" TagName="EditLease" TagPrefix="uc1" %>


<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    <uc1:EditLease ID="EditLease1" runat="server" />
  
</asp:Content>

