<%@ Page Language="VB" MasterPageFile="~/MasterPage.master" AutoEventWireup="false" CodeFile="frmHRForeCast.aspx.vb" Inherits="WorkSpace_SMS_Webfiles_frmHRForeCast" title="HR ForeCast" %>

<%@ Register Src="../../Controls/HRForeCast.ascx" TagName="HRForeCast" TagPrefix="uc1" %>
<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    <uc1:HRForeCast ID="HRForeCast1" runat="server" />
</asp:Content>

