<%@ Page Language="VB" AutoEventWireup="false" CodeFile="frmModifyLeaseRenewal.aspx.vb" Inherits="WorkSpace_SMS_Webfiles_frmModifyLeaseRenewal" Title="RenewalofLease" %>

<%@ Register Src="../../Controls/ModifyLeaseRenewal.ascx" TagName="ModifyLeaseRenewal" TagPrefix="uc1" %>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
   <%-- Works only in IE, Loads the page without any flickering on dropdon selected index change --%>
    <%--<meta http-equiv="Page-Enter" content="Alpha(opacity=99)">
    <meta http-equiv="Page-Enter" content="blendTrans(Duration=0)">
    <meta http-equiv="Page-Exit" content="blendTrans(Duration=0)">--%>

    <title>Facility Management Services::a-mantra</title>
    <%=ScriptCombiner.GetScriptTags("css_scripts", "css", 1)%>
    <link href='//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css' />

    <!--[if lt IE 9]>
        <script src='<%= ResolveUrl("~/BootStrapCSS/Scripts/html5shiv.js")%>'></script>
        <script src='<%= ResolveUrl("~/BootStrapCSS/Scripts/respond.min.js")%>'></script>
    <![endif]-->
    <script type="text/javascript">
        function setup(id) {
            $('#' + id).datepicker({
                format: 'mm/dd/yyyy',
                autoclose: true
            });
        };
    </script>
</head>
<body>
    <div id="wrapper">
        <div id="page-wrapper" class="row">
            <div class="row form-wrapper">
                <div class="row">
                    <div class="col-md-12">                        
                        <form id="form1" class="form-horizontal well" runat="server">
                            <asp:ScriptManager ID="sc1" runat="server"></asp:ScriptManager>
                            <asp:ValidationSummary ID="ValidationSummary1" runat="server" ValidationGroup="Val1" CssClass="alert alert-danger" ForeColor="Red" />
                            <asp:ValidationSummary ID="ValidationSummary2" runat="server" ValidationGroup="Val2" CssClass="alert alert-danger" ForeColor="Red" />
                            <asp:ValidationSummary ID="ValidationSummary3" runat="server" ValidationGroup="Val3" CssClass="alert alert-danger" ForeColor="Red" />
                            <uc1:ModifyLeaseRenewal ID="ModifyLeaseRenewal1" runat="server" />
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

   <%= ScriptCombiner.GetScriptTags("js_Scripts", "js", 1)%>
</body>
</html>





