<%@ Page Language="VB" MasterPageFile="~/MasterPage.master" AutoEventWireup="false" CodeFile="Get_Space_Status.aspx.vb" Inherits="WorkSpace_SMS_Webfiles_Get_Space_Status" title="Get Space Status" %>

<%@ Register Src="../../Controls/searchbySpaceid.ascx" TagName="searchbySpaceid"
    TagPrefix="uc1" %>
<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    <uc1:searchbySpaceid ID="SearchbySpaceid1" runat="server" />

</asp:Content>

