                                                                     
                                                                     
                                                                     
                                             
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head><title>
	Axis Bank Floor Plan
</title><link rel="stylesheet" type="text/css" href="../GIS/MAP_GIS/map_files/style.css" /><link rel="stylesheet" type="text/css" href="../GIS/MAP_GIS/map_files/style1.css" />
 
    <script type="text/javascript" src="../GIS/MAP_GIS/map_files/firebug.js"></script>
 
    <script type="text/javascript" src="../GIS/MAP_GIS/ol/OpenLayers.js"></script>
 
    
 
    <script type="text/javascript">
 
 
function querySt(ji) {
hu = window.location.search.substring(1);
gy = hu.split("&");
for (i=0;i<gy.length;i++) {
ft = gy[i].split("=");
if (ft[0] == ji) {
return ft[1];
}
}
}
 
var flr_id = querySt("FLR_ID");
var box = querySt("box");
  var spc_id = querySt("spc_id");
    </script>
 
    <script type="text/javascript" src="../GIS/MAP_GIS/map_files/wms-getfeatureinfo.js"></script>
 
    <style type="text/css">.olControlAttribution {
	BOTTOM: 5px
}
TABLE.featureInfo {
	BORDER-BOTTOM: #ddd 1px solid; BORDER-LEFT: #ddd 1px solid; PADDING-BOTTOM: 0.1em; MARGIN: 0px; PADDING-LEFT: 0.1em; PADDING-RIGHT: 0.1em; BORDER-COLLAPSE: collapse; FONT-SIZE: 80%; BORDER-TOP: #ddd 1px solid; BORDER-RIGHT: #ddd 1px solid; PADDING-TOP: 0.1em
}
TABLE.featureInfo TD {
	BORDER-BOTTOM: #ddd 1px solid; BORDER-LEFT: #ddd 1px solid; PADDING-BOTTOM: 0.1em; MARGIN: 0px; PADDING-LEFT: 0.1em; PADDING-RIGHT: 0.1em; BORDER-COLLAPSE: collapse; FONT-SIZE: 80%; BORDER-TOP: #ddd 1px solid; BORDER-RIGHT: #ddd 1px solid; PADDING-TOP: 0.1em
}
TABLE.featureInfo TH {
	BORDER-BOTTOM: #ddd 1px solid; BORDER-LEFT: #ddd 1px solid; PADDING-BOTTOM: 0.1em; MARGIN: 0px; PADDING-LEFT: 0.1em; PADDING-RIGHT: 0.1em; BORDER-COLLAPSE: collapse; FONT-SIZE: 80%; BORDER-TOP: #ddd 1px solid; BORDER-RIGHT: #ddd 1px solid; PADDING-TOP: 0.1em
}
TABLE.featureInfo TH {
	PADDING-BOTTOM: 0.2em; PADDING-LEFT: 0.2em; PADDING-RIGHT: 0.2em; BACKGROUND: #eee; FONT-WEIGHT: bold; PADDING-TOP: 0.2em
}
TABLE.featureInfo TD {
	BACKGROUND: #fff
}
TABLE.featureInfo TR.odd TD {
	BACKGROUND: #eee
}
TABLE.featureInfo CAPTION {
	TEXT-ALIGN: left; PADDING-BOTTOM: 0.1em; TEXT-TRANSFORM: uppercase; PADDING-LEFT: 0.2em; PADDING-RIGHT: 0.2em; FONT-SIZE: 100%; FONT-WEIGHT: bold; PADDING-TOP: 0.1em
}
</style>
</head>
<body onload="init();">
    <form name="form1" method="post" action="GIS_POSTGRESQLMAP.aspx" id="form1">
<div>
<input type="hidden" name="__VIEWSTATE" id="__VIEWSTATE" value="/wEPDwUKMTA1NDkzNTkwMmRkzXwqcVcAWDH3q482J+cRYtvyVME=" />
</div>
 
        <div id="tags">
        </div>
        <p id="shortdesc">
        </p>
        <div id="map" class="smallmap">
        </div>
        <label for="drill">
        </label>
        <div id="nodelist">
        </div>
    </form>
</body>
</html>
