<%@ Page Language="VB" MasterPageFile="~/MasterPage.master" AutoEventWireup="false" CodeFile="PropertyDesk.aspx.vb" Inherits="WorkSpace_SMS_Webfiles_PropertyDesk" title="Property Desk" %>

<%@ Register Src="../../Controls/PropertyDesk.ascx" TagName="PropertyDesk" TagPrefix="uc1" %>
<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    <uc1:PropertyDesk ID="PropertyDesk1" runat="server" />
</asp:Content>

