<%@ Control Language="VB" AutoEventWireup="false" CodeFile="Solution.ascx.vb" Inherits="EFM_EFM_Webfiles_Solution" %>
<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/themes/flick/jquery-ui.css"
        type="text/css" media="all" />
    <link href="../../Source/css/ui.jqgrid.css" rel="stylesheet" type="text/css" />

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js" type="text/javascript"></script>

    <script src="../../Source/js/i18n/grid.locale-en.js" type="text/javascript"></script>

    <script src="../../Source/js/jquery.jqGrid.min.js" type="text/javascript"></script>

  
  <script src="../../EFM/EFM_Webfiles/ReportsJS/Solution.js" type="text/javascript"></script>

    <script type="text/javascript">
function dg_reportc1()
     {
        hu = window.location.search.substring(1);
        gy = hu.split("&");
       for (i=0;i<gy.length;i++) 
        {
          ft = gy[i].split("=");
          if (ft[0] == "id") 
            {
             $("#UsersGrid1").setGridParam({url:'../../Generics_Handler/Solution.ashx?MUser='+ft[1]});
		        dg_maintenance_Solution(ft[1]);
		        $("#UsersGrid1").trigger("reloadGrid");
	        }
         } 
      }
		  
		     window.onload = dg_reportc1;
		       
    </script>
    
     <table id="Table3" runat="server" cellpadding="0" width="100%" cellspacing="0">
                                </table>
                                <table id="UsersGrid1" cellpadding="0" cellspacing="0" width="100%">
                                </table>
                                <div id="UsersGridPager1">
                                </div>