﻿<%@ Page Language="VB" AutoEventWireup="false" CodeFile="SpaceViewmap_queryanly.aspx.vb" Inherits="WorkSpace_SMS_Webfiles_SpaceViewmap_queryanly" %>
<asp:literal id="litmap" runat="server"></asp:literal>

