﻿<%@ Page Language="VB" AutoEventWireup="false" CodeFile="SpacesViewMapSearchEmployee.aspx.vb" Inherits="WorkSpace_SMS_Webfiles_SpacesViewMapSearchEmployee" %>

<script src="../../BootStrapCSS/Scripts/jquery.min.js"></script>
<script>
    function setHead(x) {
        $("#lblModalHead", parent.document).html(x);
    }
</script>

<form id="form1" runat="server">
    <asp:literal id="litmap" runat="server"></asp:literal>
</form>


