﻿<%@ Page Language="C#" %>



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Facility Management Services::a-mantra</title>
    <%=ScriptCombiner.GetScriptTags("css_scripts", "css", 1)%>
    <link href='//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css' />

    <!--[if lt IE 9]>
        <script src='<%= ResolveUrl("~/BootStrapCSS/Scripts/html5shiv.js")%>'></script>
        <script src='<%= ResolveUrl("~/BootStrapCSS/Scripts/respond.min.js")%>'></script>
    <![endif]-->
           <style>
        .btn {
            border-radius: 4px;   
            background-color : #3A618F; 
        }

    </style>
</head>
<body>
    <div id="page-wrapper" class="row">
        <div class="row form-wrapper">
            <div class="row">
                <div class="col-md-12">
                    <fieldset>
                        <legend>Guest House Booking Masters</legend>
                    </fieldset>
                    <form id="form1" class="form-horizontal well" runat="server">
                        
                        <div class="clearfix">
                            <div class="col-md-3 col-sm-12 col-xs-12 ">
                               
                                    <asp:HyperLink ID="HyperLink4" runat="server" class="btn btn-block btn-primary" NavigateUrl="~/GHB/Masters/Views/ReservationType.aspx">Add Facility Type</asp:HyperLink>
                                
                            </div>
                            <div class="col-md-3 col-sm-12 col-xs-12">
                               
                                    <asp:HyperLink ID="HyperLink11" runat="server" class="btn btn-block btn-primary" NavigateUrl="~/GHB/Masters/Views/AddFacility.aspx">Add Facility & Room</asp:HyperLink>
                                
                            </div>
                            

                        </div><br />

                      
                    </form>
                </div>
            </div>
        </div>
    </div>
    <%= ScriptCombiner.GetScriptTags("js_Scripts", "js", 1)%>
</body>
</html>

