﻿<%@ Page Language="C#" AutoEventWireup="true" %>


<!DOCTYPE html>

<html data-ng-app="QuickFMS">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <%-- Works only in IE, Loads the page without any flickering on dropdon selected index change --%>
    <%--<meta http-equiv="Page-Enter" content="Alpha(opacity=99)">
    <meta http-equiv="Page-Enter" content="blendTrans(Duration=0)">
    <meta http-equiv="Page-Exit" content="blendTrans(Duration=0)">--%>
    <title>Facility Management Services::a-mantra</title>
    <%=ScriptCombiner.GetScriptTags("css_scripts", "css", 1)%>
    <link href='//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css' />
    <link href="../../../Scripts/DropDownCheckBoxList/isteven-multi-select.css" rel="stylesheet" />
    <link href="../../../BootStrapCSS/maploader.css" rel="stylesheet" />
    <link href="../../../BootStrapCSS/leaflet/leaflet.css" rel="stylesheet" />
    <link href="../../../BootStrapCSS/leaflet/leaflet.draw.css" rel="stylesheet" />
    <link href="../../../BootStrapCSS/leaflet/leaflet.label.css" rel="stylesheet" />
    <link href="../../../BootStrapCSS/leaflet/addons/leaflet.contextmenu.css" rel="stylesheet" />
    <link href="../../../Scripts/angular-block-ui.min.css" rel="stylesheet" />


    <style>
        .grid-align {
            text-align: center;
        }
    </style>
    <script type="text/javascript">
        function setup(id) {
            $('#' + id).datepicker({
                format: 'mm/dd/yyyy',
                autoclose: true,
                todayHighlight: true
            });
        };
    </script>

</head>
<body data-ng-controller="ViewSpaceExtReqController" class="amantra" onload="setDateVals()">
    <div id="page-wrapper" class="row">
        <div class="row form-wrapper">
            <div class="row">
                <div class="col-md-12">
                    <fieldset>
                        <legend>View and Approve Space Extension Requisitons</legend>
                        <div class="clearfix" data-ng-show="Viewstatus==1">
                            <div class="box-footer text-right">
                                <span style="color: red;">*</span>  Mandatory field &nbsp &nbsp    <span style="color: red;">**</span>  Select to auto fill the data
                            </div>
                        </div>
                    </fieldset>
                    <div class="well">
                        <div data-ng-show="Viewstatus==0">
                            <form role="form" id="ViewSpcExtnReq" name="frmViewVerReq" data-valid-submit="UpdateAllRequests()" novalidate>
                                <h4>My Requisitions</h4>
                                <div style="height: 200px">
                                    <input id="ReqFilter" placeholder="Filter..." type="text" style="width: 25%" />
                                    <div data-ag-grid="MyrequisitonsOptions" style="height: 104%; width: 100%" class="ag-blue"></div>
                                </div>
                                <br />
                                <br />
                                <br />
                                <h4>Pending Requisitions / Waiting For Approval</h4>

                                <%--   <div style="height: 25px; padding-left: 16px;">
                                    Select All<input type='checkbox' data-ng-model="SelectAll" data-ng-click='selectAllRows()'>
                                   
                                </div>--%>

                                <div style="height: 200px">
                                    <input id="ApprvlFilter" placeholder="Filter..." type="text" style="width: 25%;" />
                                    <div data-ag-grid="approvalOptions" style="height: 104%;" class="ag-blue"></div>
                                </div>
                                <br />
                                <br />
                                <br />
                                <div class="col-md-13 text-right">
                                    <div class="col-md-10" style="padding-left: 400px">
                                        <textarea rows="2" style="width: 275px;" data-ng-model="blkReq.SSE_APPR_REM" class="form-control" placeholder="Approval Remarks"></textarea>
                                    </div>
                                    <input type="submit" data-ng-click="setStatus('ApproveAll')" value="Approve" class="btn btn-primary custom-button-color" />
                                    <input type="submit" data-ng-click="setStatus('RejectAll')" value="Reject" class="btn btn-primary custom-button-color" />
                                </div>
                            </form>
                        </div>
                        <div data-ng-show="Viewstatus==1">
                            <form role="form" id="SearchSpaces" name="frmblksearch" data-valid-submit="SearchSpaces()">

                                <div class="clearfix">
                                    <div class="col-md-3 col-sm-6 col-xs-12">
                                        <div class="form-group">
                                            <label><b>Request ID :</b> </label>
                                            {{currentblkReq.SSE_REQ_ID}}
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-6 col-xs-12">
                                        <div class="form-group">
                                            <label><b>Request By :</b> </label>
                                            {{currentblkReq.AUR_KNOWN_AS}}
                                        </div>
                                    </div>

                                    <div class="col-md-3 col-sm-6 col-xs-12">
                                        <div class="form-group">
                                            <label><b>Requested Date : </b></label>
                                            {{currentblkReq.SSE_REQ_DT | date: dateformat}}
                                        </div>
                                    </div>

                                    <div class="col-md-3 col-sm-6 col-xs-12">

                                        <div class="form-group">
                                            <label><b>Status :</b> </label>
                                            {{currentblkReq.STA_DESC}}
                                        </div>

                                    </div>

                                </div>
                                <br />
                                <div class="clearfix">
                                    <div class="col-md-3 col-sm-12 col-xs-12">
                                        <%--<div class="form-group" data-ng-class="{'has-error': frmSpaceRelease.$submitted && frmSpaceRelease.CNY_NAME.$invalid}">--%>
                                        <label for="txtcode">Country <span style="color: red;"></span></label>
                                        <div isteven-multi-select data-input-model="Countrylst" data-output-model="SEM.selectedCountries" data-button-label="icon CNY_NAME" data-item-label="icon CNY_NAME maker"
                                            data-on-item-click="CnyChanged()" data-on-select-all="CnyChangeAll()" data-on-select-none="CnySelectNone()" data-tick-property="ticked" max-labels="1">
                                        </div>
                                        <input type="text" data-ng-model="SEM.selectedCountries" name="CNY_NAME" style="display: none" />
                                        <%--<span class="error" data-ng-show="frmSpaceRelease.$submitted && frmSpaceRelease.CNY_NAME.$invalid" style="color: red">Please select country </span>
                                    </div>--%>
                                    </div>
                                    <div class="col-md-3 col-sm-6 col-xs-12">
                                        <%--<div class="form-group" data-ng-class="{'has-error': frmSpaceRequisition.$submitted && frmSpaceRequisition.ZN_NAME.$invalid}">--%>
                                        <label class="control-label">Zone<span style="color: red;">**</span></label>
                                        <div isteven-multi-select data-input-model="Zonelst" data-output-model="SEM.selectedZones" data-button-label="icon ZN_NAME"
                                            data-item-label="icon ZN_NAME maker" data-on-item-click="ZoneChanged()" data-on-select-all="ZoneChangeAll()" data-on-select-none="ZoneSelectNone()"
                                            data-tick-property="ticked" data-max-labels="1">
                                        </div>
                                        <input type="text" data-ng-model="SEM.selectedZones" name="ZN_NAME" style="display: none" required="" />
                                        <%--<span class="error" data-ng-show="frmSpaceRequisition.$submitted && frmSpaceRequisition.ZN_NAME.$invalid">Please select Zone </span>
                                        </div>--%>
                                    </div>
                                    <div class="col-md-3 col-sm-6 col-xs-12">
                                        <%--<div class="form-group" data-ng-class="{'has-error': frmSpaceRequisition.$submitted && frmSpaceRequisition.STE_NAME.$invalid}">--%>
                                        <label class="control-label">State<span style="color: red;">**</span></label>
                                        <div isteven-multi-select data-input-model="Statelst" data-output-model="SEM.selectedStates" data-button-label="icon STE_NAME"
                                            data-item-label="icon STE_NAME maker" data-on-item-click="SteChanged()" data-on-select-all="SteChangeAll()" data-on-select-none="SteSelectNone()"
                                            data-tick-property="ticked" data-max-labels="1">
                                        </div>
                                        <input type="text" data-ng-model="SEM.selectedStates" name="STE_NAME" style="display: none" required="" />
                                        <%--<span class="error" data-ng-show="frmSpaceRequisition.$submitted && frmSpaceRequisition.STE_NAME.$invalid">Please select State </span>
                                        </div>--%>
                                    </div>
                                    <div class="col-md-3 col-sm-12 col-xs-12">
                                        <%--<div class="form-group" data-ng-class="{'has-error': frmSpaceRelease.$submitted && frmSpaceRelease.CTY_NAME.$invalid}">--%>
                                        <label for="txtcode">City <span style="color: red;">**</span></label>
                                        <div isteven-multi-select data-input-model="Citylst" data-output-model="SEM.selectedCities" data-button-label="icon CTY_NAME" data-item-label="icon CTY_NAME maker"
                                            data-on-item-click="CtyChanged()" data-on-select-all="CtyChangeAll()" data-on-select-none="CtySelectNone()" data-tick-property="ticked" max-labels="1">
                                        </div>
                                        <input type="text" data-ng-model="SEM.selectedCities" name="CTY_NAME" style="display: none" />
                                        <%--<span class="error" data-ng-show="frmSpaceRelease.$submitted && frmSpaceRelease.CTY_NAME.$invalid" style="color: red">Please select city </span>
                                    </div>--%>
                                    </div>
                                </div>
                                <div class="clearfix">
                                    <div class="col-md-3 col-sm-12 col-xs-12">
                                        <%--<div class="form-group" data-ng-class="{'has-error': frmSpaceRelease.$submitted && frmSpaceRelease.LCM_NAME.$invalid}">--%>
                                        <label for="txtcode">Location <span style="color: red;">**</span></label>
                                        <div isteven-multi-select data-input-model="Locationlst" data-output-model="SEM.selectedLocations" data-button-label="icon LCM_NAME" data-item-label="icon LCM_NAME maker"
                                            data-on-item-click="LcmChanged()" data-on-select-all="LcmChangeAll()" data-on-select-none="LcmSelectNone()" data-tick-property="ticked" max-labels="1">
                                        </div>
                                        <input type="text" data-ng-model="SEM.selectedLocations" name="LCM_NAME" style="display: none" />
                                        <%--<span class="error" data-ng-show="frmSpaceRelease.$submitted && frmSpaceRelease.LCM_NAME.$invalid" style="color: red">Please select location </span>
                                    </div>--%>
                                    </div>
                                    <div class="col-md-3 col-sm-12 col-xs-12">
                                        <%--<div class="form-group" data-ng-class="{'has-error': frmSpaceRelease.$submitted && frmSpaceRelease.TWR_NAME.$invalid}">--%>
                                        <label for="txtcode">Tower <span style="color: red;">**</span></label>
                                        <div isteven-multi-select data-input-model="Towerlist" data-output-model="SEM.selectedTowers" data-button-label="icon TWR_NAME" data-item-label="icon TWR_NAME maker"
                                            data-on-item-click="TwrChanged()" data-on-select-all="TwrChangeAll()" data-on-select-none="TwrSelectNone()" data-tick-property="ticked" max-labels="1">
                                        </div>
                                        <input type="text" data-ng-model="SEM.selectedTowers" name="TWR_NAME" style="display: none" />
                                        <%--<span class="error" data-ng-show="frmSpaceRelease.$submitted && frmSpaceRelease.TWR_NAME.$invalid" style="color: red">Please select tower </span>
                                    </div>--%>
                                    </div>

                                    <div class="col-md-3 col-sm-12 col-xs-12">
                                        <%--<div class="form-group" data-ng-class="{'has-error': frmSpaceRelease.$submitted && frmSpaceRelease.FLR_NAME.$invalid}">--%>
                                        <label for="txtcode">Floor <span style="color: red;">**</span></label>
                                        <div isteven-multi-select data-input-model="Floorlist" data-output-model="SEM.selectedFloors" data-button-label="icon FLR_NAME" data-item-label="icon FLR_NAME maker"
                                            data-item-label="icon FLR_NAME maker" data-on-item-click="FlrChanged()" data-on-select-all="FlrChangeAll()" data-tick-property="ticked" max-labels="1">
                                        </div>
                                        <input type="text" data-ng-model="SEM.selectedFloors" name="FLR_NAME" style="display: none" />
                                        <%-- <span class="error" data-ng-show="frmSpaceRelease.$submitted && frmSpaceRelease.FLR_NAME.$invalid" style="color: red">Please select floor </span>
                                    </div>--%>
                                    </div>
                                    <div class="col-md-3 col-sm-12 col-xs-12">
                                        <%--<div class="form-group" data-ng-class="{'has-error': frmSpaceRelease.$submitted && frmSpaceRelease.VER_NAME.$invalid}">--%>
                                        <label for="txtcode">{{BsmDet.Parent}} <span style="color: red;"></span></label>
                                        <div isteven-multi-select data-input-model="Verticallist" data-output-model="SEM.selectedVerticals" data-button-label="icon VER_NAME" data-item-label="icon VER_NAME maker"
                                            data-on-item-click="VerticalChange()" data-on-select-all="VerticalChangeAll()" data-on-select-none="verticalSelectNone()" data-tick-property="ticked" max-labels="1">
                                        </div>
                                        <input type="text" data-ng-model="SEM.selectedVerticals" name="VER_NAME" style="display: none" />
                                        <%--<span class="error" data-ng-show="frmSpaceRelease.$submitted && frmSpaceRelease.VER_NAME.$invalid" style="color: red">Please select {{BsmDet.Parent |lowercase}} </span>
                                    </div>--%>
                                    </div>
                                </div>
                                <div class="clearfix">
                                    <div class="col-md-3 col-sm-12 col-xs-12">
                                        <%--<div class="form-group" data-ng-class="{'has-error': frmSpaceRelease.$submitted && frmSpaceRelease.Cost_Center_Name.$invalid}">--%>
                                        <label for="txtcode">{{BsmDet.Child}} <span style="color: red;">**</span></label>
                                        <div isteven-multi-select data-input-model="CostCenterlist" data-output-model="SEM.selectedCostcenter" data-button-label="icon Cost_Center_Name" data-item-label="icon Cost_Center_Name maker"
                                            data-on-item-click="CostCenterChange()" data-on-select-all="CostCenterChangeAll()" data-on-select-none="CostCenterSelectNone()" data-tick-property="ticked" max-labels="1">
                                        </div>
                                        <input type="text" data-ng-model="SEM.selectedCostcenter" name="Cost_Center_Name" style="display: none" />
                                        <%-- <span id="message" class="error" data-ng-show="frmSpaceRelease.$submitted && frmSpaceRelease.Cost_Center_Name.$invalid" style="color: red">Please select {{BsmDet.Child |lowercase}} </span>
                                    </div>--%>
                                    </div>
                                    <div class="col-md-3 col-sm-6 col-xs-12">
                                        <%--<div class="form-group" data-ng-class="{'has-error': frmSpaceRelease.$submitted && frmSpaceRelease.FROM_DATE.$invalid}">--%>
                                        <label for="txtcode">From Date <span style="color: red;"></span></label>
                                        <div class="input-group date" id='fromdate'>
                                            <input type="text" class="form-control" data-ng-model="SEM.FROM_DATE" id="FROM_DATE" name="FROM_DATE" placeholder="mm/dd/yyyy" />
                                            <span class="input-group-addon">
                                                <i class="fa fa-calendar" onclick="setup('fromdate')"></i>
                                            </span>
                                        </div>
                                        <%--<span class="error" data-ng-show="frmSpaceRelease.$submitted && frmSpaceRelease.FROM_DATE.$invalid" style="color: red">Please select from date </span>
                                    </div>--%>
                                    </div>
                                    <div class="col-md-3 col-sm-6 col-xs-12">
                                        <%-- <div class="form-group" data-ng-class="{'has-error': frmSpaceRelease.$submitted && frmSpaceRelease.TO_DATE.$invalid}">--%>
                                        <label for="txtcode">To Date <span style="color: red;"></span></label>
                                        <div class="input-group date" id='todate'>
                                            <input type="text" class="form-control" data-ng-model="SEM.TO_DATE" id="TO_DATE" name="TO_DATE" placeholder="mm/dd/yyyy" />
                                            <span class="input-group-addon">
                                                <i class="fa fa-calendar" onclick="setup('todate')"></i>
                                            </span>
                                        </div>
                                        <%-- <span class="error" data-ng-show="frmSpaceRelease.$submitted && frmSpaceRelease.TO_DATE.$invalid" style="color: red">Please select to date </span>
                                        </div>--%>
                                    </div>
                                </div>
                                <div class="clearfix">
                                    <div class="box-footer text-right" data-ng-show="Viewstatus==1">
                                        <button type="submit" id="btnsubmit" class="btn btn-primary custom-button-color" data-ng-disabled="true">Search Spaces</button>
                                        <input type="button" value="Back" class="btn btn-primary custom-button-color" data-ng-click="back()">
                                    </div>
                                </div>
                            </form>

                            <form role="form" id="ApproveSelected" name="frmApproveSelected" data-valid-submit="UpdateRequest()" novalidate>
                                <br />
                                <div class="row">
                                    <div class="col-md-9 col-sm-6 col-xs-12">

                                        <input id="UpdteFilter" placeholder="Filter..." type="text" style="width: 50%;" />

                                    </div>
                                    <div class="col-md-3 col-sm-6 col-xs-12">
                                        <div class="form-group">
                                            Extension Date
                                    <div class="input-group date " id='EXTDATE'>

                                        <input type="text" class="form-control" data-ng-model="SEM.SSED_EXTN_DT" data-ng-change="setAllDates()" id="EXTN_DATE" name="EXTN_DATE" placeholder="mm/dd/yyyy" />
                                        <span class="input-group-addon">
                                            <i class="fa fa-calendar" onclick="setup('EXTDATE')"></i>
                                        </span>
                                    </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div style="height: 200px">

                                        <div data-ag-grid="UpdateapprOptions" style="height: 104%; width: 100%" class="ag-blue"></div>
                                    </div>
                                </div>
                                <br />
                                <br />
                                <div class="row">
                                    <label id="lblErrormsg" for="lblMsg" data-ng-show="ShowDateValidationMessage" class="col-md-12 control-label" style="color: red">{{ShowDateValidationMessage}}</label>
                                </div>
                                <div class="row">
                                    <div class="col-md-5">
                                        <label for="txtcode">Requestor Remarks</label>
                                        <textarea class="form-control input-sm col-md-5" rows="3" data-ng-model="currentblkReq.SSE_REQ_REM" name="SSE_REQ_REM" data-ng-disabled="EnableStatus == 1"></textarea>
                                    </div>
                                    <div data-ng-hide="EnableStatus==0 || EnableStatus==2" class="col-md-5">
                                        <label for="txtcode">Approver Remarks</label>
                                        <textarea class="form-control input-sm col-md-5" rows="3" data-ng-model="currentblkReq.SSE_APPR_REM" name="SSE_APPR_REM"></textarea>
                                    </div>


                                </div>
                                <br />
                                <div class="box-footer text-right">
                                    <input type="button" id="btnviewinmap" ng-click="ViewinMap()" class="btn btn-primary custom-button-color" value="View In Map" />
                                    <input type="submit" data-ng-click="setStatus('Update')" value="Update" class="btn btn-primary custom-button-color" id="btnUpdate" data-ng-disabled="EnableStatus != 0" data-ng-show="EnableButton">
                                    <input type="submit" data-ng-click="setStatus('Cancel')" value="Cancel" class="btn btn-primary custom-button-color" id="btnCancel" data-ng-disabled="EnableStatus != 0" data-ng-show="EnableButton">
                                    <input type="submit" data-ng-click="setStatus('Approve')" value="Approve" class="btn btn-primary custom-button-color" id="btnApprove" data-ng-disabled="EnableStatus == 2" data-ng-show="!EnableButton" />
                                    <input type="submit" data-ng-click="setStatus('Reject')" value="Reject" class="btn btn-primary custom-button-color" id="btnReject" data-ng-disabled="EnableStatus== 2" data-ng-show="!EnableButton" />
                                </div>

                            </form>
                            <br />
                        </div>
                    </div>

                    <div class="modal fade bs-example-modal-lg" id="historymodal">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <div class="panel-group box box-primary" id="Div2">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                        <div class="panel-heading">
                                            <h4 class="panel-title"
                                                data-target="#collapseTwo">Plot on the Map
                                            </h4>
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <div class="col-md-4">
                                                        <div isteven-multi-select data-input-model="MapFloors" selection-mode="single" helper-elements="" data-output-model="Map.Floor" data-button-label="icon FLR_NAME" data-item-label="icon FLR_NAME"
                                                            data-on-item-click="FlrSectMap(data)" data-tick-property="ticked" data-max-labels="1">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <input type="button" id="Button1" data-dismiss="modal" aria-hidden="true" class="btn btn-primary custom-button-color text-right" value="Proceed" />

                                                    </div>
                                                    <div class="col-md-4">
                                                        Legends:
                                                    </div>
                                                    <div class="col-md-4">
                                                        <span class="label label-success pull-right">Available </span>
                                                        <span class="label label-warning pull-right">Selected Seats </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <form role="form" name="form2" id="form3">
                                            <div class="clearfix">
                                                <div class="col-md-12">
                                                    <div id="main">
                                                        <div id="leafletMap"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%= ScriptCombiner.GetScriptTags("js_Scripts", "js", 1)%>

    <script src="../../../Scripts/DropDownCheckBoxList/isteven-multi-select.js"></script>
    <script src="../../../BootStrapCSS/Scripts/leaflet/leaflet.js"></script>
    <script src="../../../BootStrapCSS/Scripts/leaflet/leaflet.draw.js"></script>
    <script src="../../../BootStrapCSS/Scripts/leaflet/wicket.js"></script>
    <script src="../../../BootStrapCSS/Scripts/leaflet/wicket-leaflet.js"></script>
    <script src="../../../BootStrapCSS/Scripts/leaflet/leaflet.label-src.js"></script>
    <script src="../../../BootStrapCSS/leaflet/addons/leaflet.contextmenu.js"></script>
    <script src="../../../Scripts/Lodash/lodash.min.js"></script>
    <script src="../../../Scripts/moment.min.js"></script>
    <script src="../../../Scripts/angular-block-ui.min.js"></script>


    <script>
        var app = angular.module('QuickFMS', ["agGrid", "isteven-multi-select", "blockUI"]);
        var UID = '<%= Session["UID"] %>';
        function setDateVals() {
            $('#EXTN_DATE').datepicker({
                format: 'mm/dd/yyyy',
                autoclose: true,
                todayHighlight: true
            });
        }
    </script>
    <script src="../Js/SpaceExtension.js"></script>
    <script src="../../Utility.js"></script>
    <script src="../Js/ViewSpaceExtReq.js"></script>
</body>

</html>

