<%@ Page Language="VB" MasterPageFile="~/MasterPage.master" AutoEventWireup="false" CodeFile="frmadfprivileges.aspx.vb" Inherits="AdminFunctions_ADF_WebFiles_frmadfprivileges"  %>
<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
 <div>
 <table id="table2" cellspacing="0" cellpadding="0"  width="100%"  align="center" border="0">
 <tr>
 <td width="100%" align="center"> 
 <asp:Label ID="lblHead" runat="server" Width="95%" CssClass="clsHead">Admin Functions
 <hr align="center" width="75%"/></asp:Label>
    </td>
 </tr>
 </table>
        <asp:Panel ID="PNLCONTAINER" runat="server" Width="95%" Height="100%">
             
           <table id="table3" cellspacing="0" cellpadding="0" style="vertical-align:top;" width="100%"  align="center" border="0">
                    <tr>
						<td><img alt="" height="27" src="../../Images/table_left_top_corner.gif" width="9"/></td>
						<td width="100%"  class="tableHEADER" align="left" ><strong>&nbsp; Previleges </strong></td>
						<td><img alt="" height="27" src="../../Images/table_right_top_corner.gif" width="16"/></td>
					</tr>
								
                <tr>
            			<td background="../../Images/table_left_mid_bg.gif">&nbsp;</td>
            			<td align="center"><br />
					<table width="100%">
                       
                        <tr>
						<td  style="width: 10px; height: 16px;">&nbsp;</td>
						<td align="center"  style="height: 16px">
                            &nbsp;<asp:Label ID="lblPrevileges" runat="server"></asp:Label></td><td  style="height: 16px">&nbsp;</td>
					</tr>
                </table>
                       
     
 </td>
               <td background="../../Images/table_right_mid_bg.gif" style="width: 10px; height: 100%;">
                        &nbsp;</td>
                 </tr>
	          <tr>
                    <td style="width: 10px; height: 17px;">
                        <img alt="" height="17" src="../../Images/table_left_bot_corner.gif" width="9" /></td>
                    <td style="height: 17px" background="../../Images/table_bot_mid_bg.gif">
                        <img alt="" height="17" src="../../Images/table_bot_mid_bg.gif" width="25" /></td>
                    <td style="height: 17px">
                        <img alt="" height="17" src="../../Images/table_right_bot_corner.gif" width="16" /></td>
                </tr>   
           
		          
               
              </table>
           
        </asp:Panel>
       
        
    
    </div>
</asp:Content>

