<%@ page Language="vb" MasterPageFile="~/MasterPage.master" AutoEventWireup="false" Inherits="frmADFprivilegessubmit" CodeFile="frmADFprivilegessubmit.aspx.vb" %>
<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
</asp:Content>