<%@ Page Language="VB" MasterPageFile="~/MasterPage.master" AutoEventWireup="false"
    CodeFile="frmadfaddprivileges.aspx.vb" Inherits="AdminFunctions_ADF_WebFiles_frmadfaddprivileges" %>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" runat="Server">

   
 <script language="javascript" type="text/javascript">
		function CheckAll(id)
		{
		var flag=0;
		var fflag=0;
		var chk=document.getElementById(id);				
		var name=chk.value;	
		SplitValue = name.split("_")
		var parent=document.getElementById(SplitValue[1]);
		var pparent=document.getElementById(SplitValue[2]);
		if(parent != null)
		{parent.checked =true;}	
		if(pparent != null)
		{pparent.checked =true;}
		
		 rec = new RegExp('_'+id+'_');		
				
				var chk=document.getElementById(id);
				 
				        if(chk.checked==true)									 
				        {				      
							for(i = 0; i < f1.elements.length; i++)
								{
									elm = document.forms[0].elements[i];
									if (elm.type == 'checkbox')
										{
										if (rec.test(elm.value))
											{													
												elm.checked =true;																								
												
							   				 }
											
										 }
								 }
						}
							else
							{
							for(i = 0; i < f1.elements.length; i++)
									{
									elm = document.forms[0].elements[i];
									if (elm.type == 'checkbox')
										{
											if (rec.test(elm.value))
											{												
											elm.checked =false;						
																	
											
											}											
										 }
									}//for
									
									
									
									
									if(parent !=null)
												{prec = new RegExp('_'+parent.id+'_');
												
											 for(j = 0; j < f1.elements.length; j++)
								                 {
									            elm = document.forms[0].elements[j];
									            if (elm.type == 'checkbox')
										            {										            
										                    if (prec.test(elm.value))
											                    {											                   
											                    if(elm.checked==true)
											                    {flag=1}									 
        				       
											                    }											           
											         }  
											       } //for 
										
											
											if (flag==0)
											 	{											 	
											   if(parent != null)
												{parent.checked =false;}
																							
												
												
									        if(pparent !=null)
												{pprec = new RegExp('_'+pparent.id+'_');
												
											 for(k = 0; k< f1.elements.length; k++)
								                 {
									            elm = document.forms[0].elements[k];
									            if (elm.type == 'checkbox')
										            {										            
										                    if (pprec.test(elm.value))
											                    {											                   
											                    if(elm.checked==true)
											                    {fflag=1}									 
        				       
											                    }											           
											         }  
											       } //for 
											       
											       if (fflag==0)
											 	        {		
												        if(pparent != null)
												        {pparent.checked =false;}												
												        }	
											      
											 } // pparent !=null		
																							
												
																	
										   } //if (flag==0)																				
												
										 } // parent !=null
							
							}//else
											
			 } //function			
			
			
	function CheckParent(id)
		{
		var flag=0;
		var fflag=0;
		var f_fflag=0;
		var parent;
		var pparent;
		var p_pparent
				

		 //rec = new RegExp('_'+id);		
				
				var chk=document.getElementById(id);				
				var value=chk.value;							
				//var index=chk.value.indexOf('_');	
				SplitValue = value.split("_")	
				
				//for (num = 0; num < SplitName.length; num++)
				 //{
				 //document.write(SplitName[num])
				 //}		
				
				 parent=document.getElementById(SplitValue[1]);
				 pparent=document.getElementById(SplitValue[2]);
				 p_pparent=document.getElementById(SplitValue[3]);				
				 
				        if(chk.checked==true)									 
				        {				      
																				
							parent.checked =true;
							pparent.checked =true;
							p_pparent.checked=true;														
								
						}
						else
						{
						rec = new RegExp('_'+SplitValue[1]);
						
						  for(i = 0; i < f1.elements.length; i++)
									{
									elm = document.forms[0].elements[i];
									if (elm.type == 'checkbox')
										{
											if (rec.test(elm.value))
											{			
											if(elm.checked)
											 {flag=1 }					
											
											}											
										 }
									}
									
						if(flag==0)
						 {
						
						 parent.checked =false
						 rec = new RegExp('_'+SplitValue[2]);
						
						  for(j = 0; j < f1.elements.length; j++)
									{
									elm = document.forms[0].elements[j];
									if (elm.type == 'checkbox')
										{
											if (rec.test(elm.value))
											{			
											if(elm.checked)
											 {fflag=1 }					
											
											}											
										 }//elm.type == 'checkbox'
									}//for
									
							
						 if(fflag==0)
						 {
						 pparent.checked =false
						 
						 //Today
						 
						  rec = new RegExp('_'+SplitValue[3]);
						
						  for(k = 0; k < f1.elements.length; k++)
									{
									elm = document.forms[0].elements[k];
									if (elm.type == 'checkbox')
										{
											if (rec.test(elm.value))
											{			
											if(elm.checked)
											 {f_fflag=1 }					
											
											}											
										 }//elm.type == 'checkbox'
									}//for
								
								
								if(f_fflag==0)
						             {
						             p_pparent.checked =false
						             }	
						             
						             } //if(fflag==0)
						 
						 		 }//if(flag==0)						 
						 
						}  //else							
										
			 } 	//function
			 
		
		
		function Check()
		{	
		var fflag	=0;
		
		 for(k = 0; k < f1.elements.length; k++)
				{
				elm = document.forms[0].elements[k];
				if (elm.type == 'checkbox')
					{							
						if(elm.checked)
						 {fflag=1 }					
																	
					 }//elm.type == 'checkbox'
					
			     } //for loop
						
						 if(fflag==0)
						 {
						 alert('select atleast one checkbox');
						 return false;
						 }
				return true;		
		}		 	
			
		
    </script>
    <div>
        <table id="table1" cellspacing="0" cellpadding="0" width="100%"
            align="center" border="0">
            <tr>
                <td>
                    <asp:Label ID="lblHead" runat="server" CssClass="clsHead" Width="95%">Admin Functions
	   <hr align="center" width="75%"/></asp:Label>
                </td>
            </tr>
        </table>
        <asp:Panel ID="PNLCONTAINER" runat="server" Width="95%" Height="100%">
            <table id="table3" cellspacing="0" cellpadding="0"  width="100%"
                align="center" border="0">
                <tr>
                    <td>
                        <img alt="" height="27" src="../../Images/table_left_top_corner.gif" width="9" /></td>
                    <td width="100%" class="tableHEADER">
                        <strong>&nbsp; Add Privileges </strong>
                    </td>
                    <td>
                        <img alt="" height="27" src="../../Images/table_right_top_corner.gif" width="16" /></td>
                </tr>
                <tr>
                    <td background="../../Images/table_left_mid_bg.gif">
                        &nbsp;</td>
                    <td align="center">
                        <table id="tblprv" cellspacing="0" cellpadding="0" width="100%" border="1">
                            <tr>
                                <td width="30%">
                                    <p>
                                        <asp:Label ID="lblRol" Width="232px" runat="server">Roles Selection for</asp:Label></p>
                                </td>
                                <td width="70%">
                                    <asp:Label ID="lblSrole" Width="100%" runat="server"></asp:Label></td>
                            </tr>
                        </table>
                    </td>
                    <td background="../../Images/table_right_mid_bg.gif" style="width: 10px; height: 100%;">
                        &nbsp;</td>
                </tr>
                <tr>
                    <td style="width: 10px; height: 17px;">
                        <img alt="" height="17" src="../../Images/table_left_bot_corner.gif" width="9" /></td>
                    <td style="height: 17px" background="../../Images/table_bot_mid_bg.gif">
                        <img alt="" height="17" src="../../Images/table_bot_mid_bg.gif" width="25" /></td>
                    <td style="height: 17px">
                        <img alt="" height="17" src="../../Images/table_right_bot_corner.gif" width="16" /></td>
                </tr>
            </table>
        </asp:Panel>
    </div>
</asp:Content>
