body{
    background-image: url(../images/carbg.png), url(../images/bgpattern.jpg);
    background-position: center center, left top;
    background-repeat: no-repeat, repeat;
    }
.navbar-default {
    background-color: rgb(4, 63, 87);
    border-color: rgb(231, 231, 231);
    border-radius: 0;
    border: none;
	border-top: 3px solid rgb(1, 31, 43);
}
.navbar-default .navbar-nav>li>a {
    color: rgb(255, 255, 255);
}
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0);
}
.max1100{
	max-width: 1100px;
	margin:0 auto;
	}
	.max1010{
	max-width: 1010px;
	margin:0 auto;
	}
.thumbnails_home .thumb5{
	background-color:rgb(247, 245, 245);
	text-align:center;
	padding:20px;
	float: left;
	margin: 5px;
	width: 190px;
	height: 145px;
}

.thumb5{
	position:relative;
}
.menubutton{
	opacity:.1;
	position:absolute;
	left:10px;
	top:10px;
	cursor:pointer;
}
.menubutton:hover{opacity:.7;}
.closebutton{
	opacity: .2;
    position: absolute;
    right: 3px;
    top: 3px;
    cursor: pointer;
}
.closebutton:hover{opacity:.7;}
.boxmenu{
	background-color: rgba(255, 255, 255, 0.93);
	padding:0; margin:0;position: absolute;
	left: 0;top: 0;width: 100%;height: 100%; overflow-y:auto;
	border:1px solid #eee;    box-sizing: content-box;display:none;
	}

	.boxmenu li {
    list-style: none;
    text-align: left;
}
.boxmenu li a{display:block; font-size:12px;padding:3px 10px;border-bottom:1px dotted rgb(241, 240, 240);}
.boxmenu li a:hover{
	background-color:rgb(239, 239, 239);
	text-decoration:none;
}
.thumb5 h3 {
    font-size: 18px;
	cursor:default;
}
.bottomQuote {
	margin-top:20px;
	text-align:center;
}
.quotation{
	text-transform:uppercase;
	font-size:20px;
	border-top: 1px dashed #ccc;
	border-bottom: 1px dashed rgb(204, 204, 204);
	padding: 5px 0;
	cursor:default;
}
.carIcon{
	    margin-bottom: -85px;
}
footer {
	text-align:center;
	
	font-size:12px;
	color:#666;
}
.homefoot{
	margin-top:80px;
}
.navbar-brand{
	height: 53px;
    padding: 0 0 0 15px;
	
}
.vertical_menu{
	min-height:650px;
	background-color:#eee;
	width:50px;
	
}
.navbar{
	margin-bottom:0;
}
.vertical_menu>ul>li>img{
	width:24px;
}
.vertical_menu>ul,.vertical_menu>ul>li{margin:0;padding:0;}
.vertical_menu>ul>li{list-style:none;padding: 8px;text-align: center;position:relative;}
.vertical_menu>ul>li:hover{background-color:#fff;-webkit-transition: all .3s;transition: all .3s;}
.vertical_menu>ul>li:hover .v_dropdown{display:block;}
.v_dropdown{margin:0; padding:0;position: absolute;
left: 40px;top: 0; background-color: white;width: 150px;
text-align: left;font-size: 12px;
box-shadow:2px 2px 2px #ccc;
display:none;
border-right: 1px solid #043F57;
z-index:99;
}

.v_dropdown>li {
    list-style: none;
	
	
}

.v_dropdown>li>a {
    display: block;
    padding: 2px 6px;
	color:#555;
}
.v_dropdown>li>a:hover{
	background-color: #043F57;
    text-decoration: none;
	color:#fff;transition: all .2s;
	
}

.breadcrumb {
	font-size:12px;
	margin:0;
	border-radius:0;
}

.main_block{display:table;}
.vertical_menu,.content_block{display:table-cell;}
.content_block{width:100%;}
.content{padding:3px; margin-left: 0px;}
.breadcrumb>li+li:before{content:"→"}
.dropdown-menu{border:0;border-radius:0;}
.martop30{margin-top:30px;}
.table>tbody>tr:nth-child(even) {
    background-color: #F7F7F7;
}
.btn{
	border-radius:1px;      
    box-shadow: 2px 2px 2px #ccc;
	text-shadow:1px 1px 1px rgba(107, 107, 107, 0.52);
}

.minimised_dialog .modal-body, .minimised_dialog .modal-footer {
    display: none;
}

.minimised_dialog .modal-dialog {
    left: 40px;
    margin: 0;
    bottom: 16px;
    position: fixed;
}

.minimised_dialog .modal-header {
    padding: 5px;
}
 
  .ui-corner-all {
    border-radius: 2px !important;
}
.ui-dialog .ui-dialog-buttonpane{padding: .1em .5em .1em .1em !important;}
.ui-dialog .ui-dialog-titlebar {
	color:white;
    background-color: #043F57 !important;
}
.ui-dialog-titlebar-buttonpane [role="button"] {
    margin-right: 1px;
    padding: 0 !important;
    width: 19px !important;
    height: 19px !important;
    text-align: center;
}
.ui-dialog {
    font-size: inhert;
    font-family: inherit;

}

.ui-button-text-only .ui-button-text {
    padding: .2em .8em !important;
    font-size: 13px !important;
}
.ui-dialog .ui-dialog-buttonpane button {
    margin: .1em 0 0 0 !important;
    
}

.slide_block {
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
    z-index: 999;
}

.slide_head{
	background-color: rgb(8, 21, 31);
    color: white;
    padding: 5px 10px;
    border: 2px solid #0C1C27;
    border-radius: 3px 3px 0 0;
}
.slide_content {
    background-color: white;
    max-height: 250px;
    overflow-y: auto;
    display: none;
}
.slide_content,.slide_head {margin: 0 1px}
.slide_content>table{margin-bottom: 0;}
#slide_trigger {cursor: pointer;}
.Icons_right{
	max-width: 250px
}

.IconsBottom{
	background-color: #eee;
	border-top:1px solid #ccc;
	padding: 5px;
	position: fixed;left: 0;
	bottom: 0;
	width: 100%;
}

.icons_title {
	padding-right: 15px;
}
.icons_block>a>img {     
   width: 24px;    
   margin-right: 5px;
   opacity: .7;
   transition:all .3s ease;
}
.icons_block>a>img:hover{
	opacity: 1;
	transform: translate(0,-3px);
	border-bottom: 1px solid #022b4c;


}
.icons_block {
    padding-top: 4px;
    display: inline-block;
}

.TitleStrip {
	background-color: #eee;
    padding: 5px;
}
.TSicons>a{
	margin-left:3px; 

}
.TStitle{font-size: 18px;}