/*--*/
.number
{
    TEXT-ALIGN: right;
}
/*--*/
.readonly
{
    COLOR: red;
}
/*--*/
.searchtable
{
    font-family: verdana, arial, helvetica;
    FONT-SIZE: 11px;
    FONT-WEIGHT: bold;
}
/*--*/
.headbackground
{
    BACKGROUND-COLOR: Gray ;
}
/*--*/
.top
{
    BACKGROUND-COLOR: transparent;
    FONT-SIZE: 11px;
}
/*--*/
.menu
{
    FONT-SIZE: 11px;
}
/*--*/
.red
{
    COLOR: red;
    font-family: verdana, arial, helvetica;
    FONT-SIZE: 11px;
}
/* --------------------------------------*********
Page Heading (ICICI)*/
.head
{
    color:#000000;
    font-family: verdana, arial, helvetica;
    font-size:18px;
    FONT-WEIGHT: bold;
}
/* Page Heading (a-mantra)*/
.clsHead
{
    color:#000000;
    font-family: verdana, arial, helvetica;
    font-size:18px;
    FONT-WEIGHT: bold;
}
/* --------------------------------------*********/
/**/
.rptcaption
{
    COLOR: maroon;
    FONT-FAMILY: Zurich BT,tahoma,arial;
    FONT-SIZE: 10pt;
    }
/**/
.tabheader
{
    COLOR: blue;
    font-family: verdana, arial, helvetica;
    FONT-SIZE: 11px;
    
}
/* --------------------------------------*********
Fields title heading and for lables (ICICI)*/
.label
{
    BACKGROUND-COLOR: #F1F1F1;
    COLOR:  #000000;
    font-family: verdana, arial, helvetica;
    font-size:11px;
    FONT-WEIGHT: bold;
}
/*Fields title heading and for lables (a-mantra)*/
.clsLabel
	{
    BACKGROUND-COLOR: #F1F1F1;
    COLOR:  #000000;
    font-family: verdana, arial, helvetica;
    font-size:11px;
    FONT-WEIGHT: bold;
	}
/* --------------------------------------*********/

/* --------------------------------------*********
Note Text Properties (ICICI)*/
.note
	{
	color:Red;
    font-family: verdana, arial, helvetica;
    font-size:9px;
    }
/*Note Text Properties (amantra)*/
.clsNote
	{
	color:Red;
    font-family: verdana, arial, helvetica;
    font-size:9px;
    }
/* --------------------------------------*********/

/* --------------------------------------*********
Warn Properties (ICICI)*/
.warn
{
	text-align:center;
	color:Red;
    font-family: verdana, arial, helvetica;
    font-size:9px;
}
/*Warn Properties (amantra)*/
.clsWarn
{
	text-align:center;
	color:Red;
    font-family: verdana, arial, helvetica;
    font-size:9px;
}
/* --------------------------------------*********/
/* --------------------------------------*********
Button Properties (ICICI)*/
.button
{
    CURSOR: hand;
	font-weight:bold;
	font-size: 11px;
	font-style: normal;
	font-family: verdana, arial, helvetica;
	text-align: center;
	border: #6699CC 1px solid;
	background-color:#f1f1f1;
}
/*Button Properties (a-mantra)*/
.clsButton
	{
    CURSOR: hand;
	font-weight:bold;
	font-size: 11px;
	font-style: normal;
	font-family: verdana, arial, helvetica;
	text-align: center;
	border: #6699CC 1px solid;
	background-color:#f1f1f1;
	}
/* --------------------------------------*********/
/*--*/
.uc
{
    TEXT-trANSFORM: uppercase;
 
}
/* --------------------------------------*********
Link Button Properties (ICICI)*/
.href1
{
    COLOR: maroon;
    font-family: verdana, arial, helvetica;
    FONT-SIZE: 11px;
    FONT-WEIGHT: bold;
}
/*Link Button Properties (amantra)*/
.clsHypLink
{
    color: #003399;
    font-family: verdana, arial, helvetica;
    FONT-SIZE: 11px;
    FONT-WEIGHT: bold;
    text-decoration: underline;
}
/* --------------------------------------*********/
/* --------------------------------------*********
Link Button Properties (a-mantra)*/
BODY
{
    margin-top: 0px;
	margin-left: 0px;
	margin-right:0px;
	margin-bottom:0px;
	font-size: 11px;
	font-family: verdana, arial, helvetica;
	background-color: White;
}
/* --------------------------------------*********/
/*--*/
tr
{
    BACKGROUND-COLOR: transparent;
}
/* --------------------------------------*********
TH Properties (a-mantra)*/
TH
{
    font-family: verdana, arial, helvetica;
	font-size: 11px;
	background:#F1F1F1;
	width:120px;
	height:25px;
	text-align:left;
	font-weight:bold;
}
/* --------------------------------------*********/
/*--*/
BUTTON
{
    font-family: verdana, arial, helvetica;
    FONT-SIZE: 11px;
    FONT-WEIGHT: bold;
}
/*--*/
INPUT
{
    font-family: verdana, arial, helvetica;
    FONT-SIZE: 11px;
    FONT-WEIGHT: normal;
}
/*--*/
CAPTION
{
    COLOR: blue;
    FONT-SIZE: 11px;
    FONT-WEIGHT: bold;
}
/*--*/
PLAINTEXT
{
    BACKGROUND-COLOR: #d8d4b8;
    COLOR: maroon;
    FONT-WEIGHT: bold
}
/* --------------------------------------*********
table Properties (a-mantra)*/
table
{
    BACKGROUND-COLOR: #ffffff;
    FONT-SIZE: 11px;
    FONT-WEIGHT: bold;
    border-color:#6699CC;  
    border-top-color:#6699CC;
    border-left-color:#6699CC;
    border-right-color:#6699CC;
    border-bottom-color:#6699CC; 
    border-collapse:collapse;
    padding:10,10,10,10;
    
     
}
FONT
{
    COLOR: #000000;
    font-family: verdana, arial, helvetica;
    FONT-SIZE: 11px;
    FONT-WEIGHT: bold;
}

td
{
    COLOR: #000000;
    font-family: verdana, arial, helvetica;
    FONT-SIZE: 11px;
    FONT-WEIGHT:normal;
}
SELECT
{
    FONT-SIZE: 11px;
    FONT-WEIGHT: normal;
    font-family: verdana, arial, helvetica;
    }
HR
{
	COLOR:Gray;
}

/*--------------------------------*/
/* setting for links on page */
A
	{
	font-size: 11px;
	color: #003399;
	font-weight: bold;
	color: #003399;
	font-family: verdana, arial, helvetica;
	text-decoration: underline;
	}
A:active
	{
	font-size: 11px;
	color: #003399;
	font-weight: bold;
	color: #003399;
	font-family: verdana, arial, helvetica;
	text-decoration: underline;
	}
A:link
	{
	font-size: 11px;
	color: #003399;
	font-weight: bold;
	color: #003399;
	font-family: verdana, arial, helvetica;
	text-decoration: underline;
	}
A:visited
	{
	font-size: 11px;
	color: #003399;
	font-weight: bold;
	color: #003399;
	font-family: verdana, arial, helvetica;
	text-decoration: underline;
	}
A:hover
	{
	font-size: 11px;
	color:Red;
	font-weight: bold;
	color: #003399;
	font-family: verdana, arial, helvetica;
	text-decoration: underline;
	}
A:unknown
	{
	font-size: 11px;
	font-weight: bold;
	color: #003399;
	font-family: verdana, arial, helvetica;
	text-decoration: underline;
	}
	/*--------------------------------*/