.clsHead
{
	color: #000000;
	font-family: arial;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	padding-left: 7px;
}
/* --------------------------------------*********/
/**/
.clsRptCaption
{
	color: maroon;
	font-family: verdana, arial, helvetica;
	font-size: 9px;
}


/* --------------------------------------*********
Fields title heading and for lables (ICICI)#3B76AD */
.label
{
	background-color: white;
	color: #000000;
	font-family: verdana, arial, helvetica;
	font-size: 11px;
	font-weight: bold;
	padding-left: 2px;
}
/*Fields title heading and for lables (a-mantra) #3B76AD */
.clsLabel
{
	background-color: white;
	color: #000000;
	font-family: verdana, arial, helvetica;
	font-size: 11px;
	font-weight: bold;
}
/* --------------------------------------*********/

/* --------------------------------------*********
Note Text Properties (ICICI)(*)*/
.note
{
	color: Red;
	font-family: verdana, arial, helvetica;
	font-size: 9px;
}
/*Note Text Properties (amantra)(*)*/
.clsNote
{
	color: Red;
	font-family: verdana, arial, helvetica;
	font-size: 9px;
}
/* --------------------------------------*********/

/* --------------------------------------*********
Warn Properties (ICICI)*/
.clsmessage
{
	text-align: center;
	color: Red;
	font-family: verdana, arial, helvetica;
	font-size: 9px;
}
/*Warn Properties (amantra)*/
.clsWarn
{
	text-align: center;
	color: Red;
	font-family: verdana, arial, helvetica;
	font-size: 9px;
}
/* --------------------------------------*********/
/* --------------------------------------*********
Button Properties (ICICI)*/
.button
{
	cursor: hand;
	font-weight: bold;
	font-size: 11px;
	color: #ffffff;
	font-style: normal;
	font-family: verdana, arial, helvetica;
	text-align: center;
	border: #DFC6CF 1px solid;
	background-color: #A4013F;
	height: 22px;
}
/*Button Properties without width*/
.clsButtonW
{
	cursor: hand;
	font-weight: bold;
	font-size: 11px;
	font-style: normal;
	font-family: verdana, arial, helvetica;
	text-align: center;
	border: 1px solid #000000;
	background-color: #C9E4FD;
	height: 18px;
}
/*Button Properties (a-mantra) width fix for 10 characters*/
.clsButton
{
	/*cursor: hand;
	font-weight: bold;
	font-size: 11px;
	color: #ffffff;
	font-style: normal;
	font-family: verdana, arial, helvetica;
	text-align: center;
	border: #0F508F 1px solid;
	background-color: #3E86CB;
	height: 22px;*/
	 
	cursor: hand;
	font-weight: bold;
	font-size: 11px;
	color: #ffffff;
	font-style: normal;
	font-family: verdana, arial, helvetica;
	text-align: center;
	border: #DFC6CF 1px solid;
	background-color: #A4013F;
	height: 22px;
 
}
/* --------------------------------------*********/
.clsUC
{
	text-transform: capitalize;
}
/* --------------------------------------*********
Link Button Properties (ICICI)*/
.href1
{
	color: maroon;
	font-family: verdana, arial, helvetica;
	font-size: 11px;
	font-weight: bold;
}
/*Link Button Properties (amantra)*/
.clsHypLink
{
	color: #A4013F;
	font-family: verdana, arial, helvetica;
	font-size: 11px;
	font-weight: bold;
	text-decoration: underline;
}
/* --------------------------------------*********/
/* --------------------------------------*********
Link Button Properties (a-mantra)*/
BODY
{
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	font-size: 11px;
	font-family: verdana, arial, helvetica; /*background-image: url(../Images/imgAMTlogobg.jpg);*/
	/*background-color: #CDE2F6;*/
}
BODY.MARK
{
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	font-size: 11px;
	font-family: verdana, arial, helvetica; /*background-image: url(../Images/imgAMTlogoMark.jpg);*/
}
/* --------------------------------------*********/
/*--*/
tr
{
	background-color: transparent;
}
/* --------------------------------------*********
TH Properties (a-mantra)*/
TH
{
	font-family: verdana, arial, helvetica;
	font-size: 11px;
	background: #F1F1F1;
	width: 120px;
	height: 25px;
	text-align: left;
	font-weight: bold;
}
/* --------------------------------------*********/
/*for Welcome Page labels*/
.WelcomeLabel
{
	font: Verdana;
	font-size: 12;
}


/* --------------------------------------*********
table Properties (a-mantra)  BORDER-RIGHT: #266FB3 0.5pt solid; 
    BORDER-TOP: #266FB3 0.5pt solid; 
    BORDER-LEFT: #266FB3 0.5pt solid; 		
    BORDER-BOTTOM: #266FB3 0.5pt solid; */
.table
{
	font-size: 11px;
	font-weight: bold;
	border-color: #000000;
	border-collapse: collapse;
	padding: 0,0,0,0;
	border-right: #000000 0.5pt solid;
	border-top: #000000 0.5pt solid;
	border-left: #000000 0.5pt solid;
	border-bottom: #000000 0.5pt solid;
	background-color: Transparent;
}
table.CHART
{
	background-color: #CDE2F6;
	font-size: 11px;
	font-weight: bold;
	border-color: #000000;
	border-top-color: #0F508F;
	border-left-color: #0F508F;
	border-right-color: #0F508F;
	border-bottom-color: #0F508F;
	padding: 0,0,0,0;
	border-collapse: collapse;
}
FONT
{
	color: #000000;
	font-family: verdana, arial, helvetica;
	font-size: 10px;
	font-weight: bold;
}

td
{
	color: #000000;
	font-family: verdana, arial, helvetica;
	font-size: 11px;
	font-weight: normal;
}

.tableHEADER
{
	color: #FFFFFF;
	font-family: arial;
	font-size: 11px;
	font-weight: normal;
	background-color: #A4013F;
}

.textboldwhite
{
	color: #ffffff;
	font-family: verdana, arial, helvetica;
	font-size: 11px;
	font-weight: bold;
}

/*To fix td height */
td.Fixed
{
	color: #000000;
	height: 55px;
	font-family: verdana, arial, helvetica;
	font-size: 11px;
	vertical-align: sub;
	font-weight: normal;
}
HR
{
	color: Gray;
}

/*--------------------------------*/
/* setting for links on page */
A
{
	font-size: 11px;
	color: #003399;
	font-weight: bold;
	color: #003399;
	font-family: verdana, arial, helvetica;
	text-decoration: underline;
}
A:active
{
	font-size: 11px;
	color: #003399;
	font-weight: bold;
	color: #003399;
	font-family: verdana, arial, helvetica;
	text-decoration: underline;
}
A:link
{
	font-size: 11px;
	color: #003399;
	font-weight: bold;
	color: #003399;
	font-family: verdana, arial, helvetica;
	text-decoration: underline;
}
A:visited
{
	font-size: 11px;
	color: #003399;
	font-weight: bold;
	color: #003399;
	font-family: verdana, arial, helvetica;
	text-decoration: underline;
}
A:hover
{
	font-size: 11px;
	color: Red;
	font-weight: bold;
	color: #003399;
	font-family: verdana, arial, helvetica;
	text-decoration: underline;
}
A:unknown
{
	font-size: 11px;
	font-weight: bold;
	color: #003399;
	font-family: verdana, arial, helvetica;
	text-decoration: underline;
}
/*--------------------------------*/
/* Attributes to be applied to radio button item on the form */

/*-------New Style Sheets-----------------*/
.clsRadioButton
{
	font-weight: normal;
	font-size: 11px;
	color: #000000;
	font-style: normal;
	font-family: verdana, arial, helvetica;
	background-color: Transparent;
	text-align: left;
	height: 20px;
}
/* Attributes to be applied to check box item on the form */
.clsCheckBox
{
	font-weight: normal;
	font-size: 11px;
	color: #000000;
	font-style: normal;
	font-family: verdana, arial, helvetica;
	background-color: Transparent;
	height: 20px;
}
/* Attributes to be applied to the ComboBox on the form.*/
.clsComboBox
{
	font-size: 11px;
	font-style: normal;
	font-family: verdana, arial, helvetica;
	text-align: left;
	background-color: #ffffff;
	border: solid 0.5px #ffffff;
	height: 20px;
}
/* Attributes to be applied to the Read text fields on the form.*/
.clsTextFieldRead
{
	font-weight: normal;
	font-size: 11px;
	font-style: normal;
	font-family: verdana, arial, helvetica;
	text-align: left;
	border-color: #6699CC;
	background-color: #CDE2F6; /*border-top-style: solid; 	border-left-style: solid; 	border-right-style: solid; 	border-bottom-style: solid;*/
	border-width: 1;
	height: 18px;
}
/* --------------------------------------*********
Fields title heading and for lables with out background*/
.clsSubHead
{
	color: #000000;
	font-family: verdana, arial, helvetica;
	font-size: 16px;
	font-weight: bold;
}
/* --------------------------------------*********/
/* Attributes to be applied to the text fields on the form.*/
.clsTextField
{
	font-size: 11px;
	color: #000000;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	text-decoration: none;
	font-weight: normal;
	border: 1px solid #CDE5FF;
	height: 18px;
}
/*Message*/
.clsMessage
{
	color: Red;
	font-family: verdana, arial, helvetica;
	font-size: 12px;
	font-weight: bold;
	background-color:white;
	border-color: #f2f5fc;
	border-style: solid;   
	border-width: 1px;
	background-repeat: no-repeat;
   	background-position:0,0,0,0;
}

.divmessagebackground
{
	font-family:Verdana;
	font-weight:bold;
	font-size: 12px;
	background-color:white;
	border-color: #f2f5fc;
	border-style: solid;
   	color:Red;
	border-width: 1px;
	background-repeat: no-repeat;
   	background-position:0,0,0,0;
 
}
/*Page Sub headings*/
.clsTblHead
{
	font-weight: bold;
	font-size: 14px;
	color: #000000;
	font-family: verdana, arial, helvetica;
	background-color: #CDE2F6;
}
/*Link Buttons*/
.clsLink
{
	color: #000000;
	font-family: verdana, arial, helvetica;
	font-size: 13px;
	font-weight: bold;
}
.clsTblNew
{
	/*background-image:url(../Images/tablebg.gif); 		background-color:Transparent ;*/
	background-color: #3E86CB;
	height: 22pt;
	font: arial;
	font-size: 10pt;
	font-weight: bold;
	padding: 5px;
}

.border
{
	padding: 4px;
	border: 1px solid #000000;
}
.borderall
{
	border-collapse: collapse;
	border: 1px solid;
	border-bottom-color: Black;
	border-top-color: Black;
	border-left-color: Black;
	border-right-color: Black;
}
.clsgrid
{
	font-size: 12px;
	color: #000000;
	height: 25px;
	border-color: #000000;
	border-style: solid;
	border-width: 1;
	border-collapse: collapse;
}
#ModalUpdateProgress1
{
	width: 300px;
	background-color: #CCCCCC;
	height: 120px;
	bottom: 0%;
	left: 0px;
	position: absolute;
}
.backGroundColor
{
	border: 1px solid #646464;
	background-color: lemonchiffon;
	color: red;
	FILTER: alpha(opacity=60);
	opacity: 0.6;
}
.accordionHeader
{
    border: 1px solid #A4013F;
    color: #A4013F;
    background-color: #A4013F;
    font-weight: bold;
    padding: 5px;
    margin-top: 5px;
    cursor: pointer;
}

.accordionHeaderSelected
{
    border: 1px solid #A4013F;
    color: white;
    background-color: #2290AD;
    font-weight: bold;
    padding: 5px;
    margin-top: 5px;
    cursor: pointer;
}

.accordionContent
{
    background-color: #DFC6CF;
    border: 1px #A4013F;
    border-top: none;
    padding: 5px;
    padding-top: 20px; margin-top:10px;
}

.resizeHandle
{
	width:20px;
	height:30px;
	background-color:Lime;
	overflow:hidden;
}

.resizeStyle
{
	padding:0px;
	border-style:solid;
	border-width:2px;
	border-color:Fuchsia;
	overflow:hidden;
}
.tblMailHead
    {
	background-color:#3793B4;
	color: White;
	font-family: verdana, arial, helvetica;
	font-size: 15px;
	font-weight: bold;
	padding-left: 2px;
    }
    .tblMailRow
    {
	background-color:#fff0e0;
	color: #00008B;
	font-family: verdana, arial, helvetica;
	font-size: 15px;
	padding-left: 2px;
    }


