﻿<%@ Page Language="C#" AutoEventWireup="true" %>

<!DOCTYPE html>

<html lang="en" data-ng-app="QuickFMS">
<head id="Head" runat="server">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Facility Management Services::a-mantra</title>
    <%=ScriptCombiner.GetScriptTags("css_scripts", "css", 1)%>
    <link href='//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css' />
    <link href="../../../../Scripts/aggrid/css/ag-grid.min.css"rel="stylesheet" />
    <link href="../../../../Scripts/aggrid/css/theme-blue.css" rel="stylesheet" />
    <link href="../../../../Scripts/DropDownCheckBoxList/isteven-multi-select.css" rel="stylesheet" />
     <script type="text/javascript">
         function setup(id) {
             $('#' + id).datepicker({
                 format: 'mm/dd/yyyy',
                 autoclose: true,
                 todayHighlight: true
             });
         };
    </script>
    <style>
        .grid-align {
            text-align: center;
        }

        a:hover {
            cursor: pointer;
        }

        .ag-header-cell-filtered {
            background-color: #4682B4;
        }

        .modal-header-primary {
            color: #1D1C1C;
            padding: 9px 15px;
        }

        #word {
            color: #4813CA;
        }

        #pdf {
            color: #FF0023;
        }

        #excel {
            color: #2AE214;
        }

        .ag-header-cell-filtered {
            background-color: #4682B4;
        }


        .ag-header-cell-menu-button {
            opacity: 1 !important;
            transition: opacity 0.5s, border 0.2s;
        }
    </style>
</head>
<body data-ng-controller="HDMcustomizedReportController" class="amantra">
    <div id="page-wrapper" class="row" ng-cloak>
        <div class="row form-wrapper">
            <div class="row">
                <div class="col-md-12">
                    <fieldset>
                        <legend>Customizable Report</legend>
                    </fieldset>
                    <div class="well">
                        <form id="form1" name="HDMcustomizedReport" data-valid-submit="LoadData()" novalidate>
                            <div class="clearfix">                              
                                 <div class="col-md-3 col-sm-6 col-xs-12">
                                        <div class="form-group" >
                                            <label for="txtcode">Select Range<span style="color: red;">*</span></label>
                                            <br />
                                           <select id="ddlRange" class="selectpicker" ng-model="HDMcustomized.selVal" data-ng-change="rptDateRanges()">
                                               <option value="">Select Range</option>
                                               <option value="TODAY">Today</option>
                                               <option value="YESTERDAY">Yesterday</option>
                                               <option value="7">Last 7 Days</option>
                                                 <option value="30">Last 30 Days</option>
                                                 <option value="THISMONTH">This Month</option>
                                                 <option value="LASTMONTH">Last Month</option>
                                           </select>                                            
                                        </div>
                                     </div>

                              <div class="col-md-3 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <label for="txtcode">From Date</label>
                                        <div class="input-group date" id='fromdate'>
                                            <input type="text" class="form-control" data-ng-model="HDMcustomized.FromDate" id="Text1" name="FromDate" required="" placeholder="mm/dd/yyyy" data-ng-readonly="true" />
                                            <span class="input-group-addon">
                                                <i class="fa fa-calendar" onclick="setup('fromdate')"></i>
                                            </span>
                                        </div>
                                        <span class="error" data-ng-show="form1.$submitted && form1.FromDate.$invalid" style="color: red;">Please From Date</span>
                                    </div>
                                </div>

                                <div class="col-md-3 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <label for="txtcode">To Date</label>
                                        <div class="input-group date" id='todate'>
                                            <input type="text" class="form-control" data-ng-model="HDMcustomized.ToDate" id="Text2" name="ToDate" required="" placeholder="mm/dd/yyyy" data-ng-readonly="true" />
                                            <span class="input-group-addon">
                                                <i class="fa fa-calendar" onclick="setup('todate')"></i>
                                            </span>
                                        </div>
                                        <span class="error" data-ng-show="form1.$submitted && form1.ToDate.$invalid" style="color: red;">Please To Date</span>
                                    </div>
                                </div>
                                   <div class="col-md-3 col-sm-6 col-xs-12">
                                    <div class="form-group" data-ng-class="{'has-error': form1.$submitted && form1.Columns.$invalid}">
                                        <label for="txtcode">Select Columns<span style="color: red;">*</span></label>
                                        <div isteven-multi-select data-input-model="Cols"  data-output-model="COL" button-label="icon COL" item-label="icon COL"
                                             tick-property="ticked"  data-on-select-all="" data-on-select-none="" data-max-labels="1">
                                        </div>
                                        <input type="text" data-ng-model="COL" name="Columns" style="display: none" required="" />
                                        <span class="error" data-ng-show="form1.$submitted && form1.Columns.$invalid" style="color: red">Please Select Columns </span>
                                    </div>
                                </div>
                                <div class="col-md-1 col-sm-6 col-xs-12">
                                    <br />
                                    <div class="box-footer text-right">
                                        <input type="submit" value="Submit" class="btn btn-primary custom-button-color" />
                                    </div>
                                </div>
                            </div>
                        </form>
                        <form id="form2">
                            <div data-ng-show="GridVisiblity">
                                <div class="row">
                                    <a data-ng-click="GenReport(Customized,'doc')"><i id="word" data-toggle="tooltip" data-ng-show="DocTypeVisible==0" title="Export to Word" class="fa fa-file-word-o fa-2x pull-right"></i></a>
                                    <a data-ng-click="GenReport(Customized,'xls')"><i id="excel" data-toggle="tooltip" title="Export to Excel" class="fa fa-file-excel-o fa-2x pull-right"></i></a>
                                    <a data-ng-click="GenReport(Customized,'pdf')"><i id="pdf" data-toggle="tooltip" title="Export to Pdf" class="fa fa-file-pdf-o fa-2x pull-right"></i></a>
                                </div>
                                <div class="row" style="padding-left: 30px">
                                    <input type="text" class="selectpicker" id="filtertxt" placeholder="Filter by any..." style="width: 25%" />
                                    <div data-ag-grid="gridOptions" class="ag-blue" style="height: 310px; width: auto"></div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <%= ScriptCombiner.GetScriptTags("js_Scripts", "js", 1)%>
    <script src="../../../../Scripts/Lodash/lodash.min.js"></script>    
    <script src="../../../../Scripts/DropDownCheckBoxList/isteven-multi-select.js"></script>
    <script>
        var app = angular.module('QuickFMS', ["agGrid", "isteven-multi-select"]);
    </script>     
    <script src="../Js/HDMcustomizedReport.js"></script>
    <script src="../../../../SMViews/Utility.js"></script>    
    <script src="../../../../Scripts/moment.min.js"></script>
    <script src="../../../../Scripts/jspdf.min.js"></script>
    <script src="../../../../Scripts/jspdf.plugin.autotable.src.js"></script>
    <script src="../../../../Scripts/JSONToCSVConvertor.js"></script>
</body>
</html>
