﻿<%@ Page Language="C#" %>

<!DOCTYPE html>
<html data-ng-app="QuickFMS">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <%-- Works only in IE, Loads the page without any flickering on dropdon selected index change --%>
    <%--<meta http-equiv="Page-Enter" content="Alpha(opacity=99)">
    <meta http-equiv="Page-Enter" content="blendTrans(Duration=0)">
    <meta http-equiv="Page-Exit" content="blendTrans(Duration=0)">--%>

    <link href="../../../../BootStrapCSS/Bootstrapswitch/css/bootstrap-switch.css" rel="stylesheet" />
    <link href="../../../../BootStrapCSS/bootstrap.min.css" rel="stylesheet" />
    <link href="../../../../BootStrapCSS/Bootstrapswitch/css/highlight.css" rel="stylesheet" />


    <title>Facility Management Services::a-mantra</title>
    <%=ScriptCombiner.GetScriptTags("css_scripts", "css", 1)%>
    <link href='//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css' />
    <link href="../../../../Scripts/DropDownCheckBoxList/isteven-multi-select.css" rel="stylesheet" />
    <%-- <script src="../../../BootStrapCSS/Scripts/html5shiv.js"></script>
    <script src="../../../BootStrapCSS/Scripts/respond.min.js"></script>--%>

    <script type="text/javascript">
        function maxLength(s, args) {
            if (args.Value.length >= 500)
                args.IsValid = false;
        }
        function setup(id) {
            $('#' + id).datepicker({
                format: 'dd-M-yyyy',
                autoclose: true,
                todayHighlight: true
            });
        };
    </script>
    <style>
        .ag-header-cell-filtered
        {
            background-color: #4682B4;
        }

        .ag-header-cell-menu-button
        {
            opacity: 1 !important;
            transition: opacity 0.5s, border 0.2s;
        }

        .grid-align
        {
            text-align: center;
        }

        a:hover
        {
            cursor: pointer;
        }

        hr
        {
            display: block;
            margin-top: 0.5em;
            margin-bottom: 0.5em;
            margin-left: auto;
            margin-right: auto;
            border-style: inset;
            border-width: 1px;
        }

        .ag-header-cell-filtered
        {
            background-color: #4682B4;
        }


        #word
        {
            color: #4813CA;
        }

        #pdf
        {
            color: #FF0023;
        }

        #excel
        {
            color: #2AE214;
        }



        .ag-header-cell-menu-button
        {
            opacity: 1 !important;
            transition: opacity 0.5s, border 0.2s;
        }
    </style>
</head>
<body data-ng-controller="HDMReportByUserController" class="amantra">
    <div id="page-wrapper" class="row" ng-cloak>
        <div class="row form-wrapper">
            <div class="row">
                <div class="col-md-12">

                    <fieldset>
                        <legend>Report by User</legend>
                    </fieldset>
                    <div class="well">
                        <form role="form" id="HDMRptByUserDetails" name="frmHDMRptByUserDetails" data-valid-submit="getHDMReportByUser()">
                            <div class="clearfix">
                                <div class="col-md-3 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <label for="txtcode">Select Range<span style="color: red;">*</span></label>
                                        <br />
                                        <select id="ddlRange" class="selectpicker" ng-model="RptByUsr.selVal" data-ng-change="rptDateRanges()">
                                            <option value="">Select Range</option>
                                            <option value="TODAY">Today</option>
                                            <option value="YESTERDAY">Yesterday</option>
                                            <option value="7">Last 7 Days</option>
                                            <option value="30">Last 30 Days</option>
                                            <option value="THISMONTH">This Month</option>
                                            <option value="LASTMONTH">Last Month</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="col-md-3 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <label for="txtcode">From Date <span style="color: red;">*</span></label>
                                        <div class="input-group date" id='fromdate'>
                                            <input type="text" class="form-control" data-ng-model="RptByUsr.FromDate" id="FROM_DATE" name="FROM_DATE" required="" placeholder="mm/dd/yyyy" />
                                            <span class="input-group-addon">
                                                <i class="fa fa-calendar" onclick="setup('fromdate')"></i>
                                            </span>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-3 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <label for="txtcode">To Date <span style="color: red;">*</span></label>
                                        <div class="input-group date" id='todate'>
                                            <input type="text" class="form-control" data-ng-model="RptByUsr.ToDate" id="TO_DATE" name="TO_DATE" required="" placeholder="mm/dd/yyyy" />
                                            <span class="input-group-addon">
                                                <i class="fa fa-calendar" onclick="setup('todate')"></i>
                                            </span>
                                        </div>
                                    </div>
                                </div>


                                <div class="col-md-3 col-sm-6 col-xs-12">
                                    <br />
                                    <button type="submit" id="btnsubmit" class="btn btn-primary custom-button-color">Search</button>
                                </div>

                                <div class="col-sm-12">
                                     <div class="col-md-2 col-sm-6 col-xs-12">
                                    <label>View In : </label>
                                    <input id="viewswitch" type="checkbox" checked data-size="small"
                                        data-on-text="<span class='fa fa-table'></span>"
                                        data-off-text="<span class='fa fa-bar-chart'></span>" />
                                         </div>
                                    <div data-ng-show="RptByUsrGrid">
                                        <button type="button" class="btn btn-success" data-toggle="collapse" title="Click here to view column definitions" data-target="#demo">
                                    <span class="glyphicon glyphicon-expand"></span>
                                </button>
                                    </div>
                                </div>
                            </div>
                            <br />
                             <div id="demo" class="collapse">
                                <div class="col-sm-8">
                                    <div class="form-group">
                                        <div class="panel panel-default">
  <div class="panel-body">                                        
                                       <span class="glyphicon glyphicon-time"></span> <b>Defined TAT :</b> Sum of SLA times defined for all the status defined in SLA master for HD Incharge.<br />
                                       <span class="glyphicon glyphicon-repeat"></span> <b>TAT: </b>Time difference between request created and till date(If closed, closed date).
                                        <br />
                                       <span class="glyphicon glyphicon-ok"></span>  <b>SLA: </b>SLA time defined for current status.
                                        <br />
                                       <span class="glyphicon glyphicon-time"></span>  <b>TAT_SLA:</b> Total time in the current status.
                                        <br />
                                        <span class="glyphicon glyphicon-minus-sign"></span><b> Delayed Time:</b> (TAT) - (Defined TAT) 
                                        <br />
                                        <span class="glyphicon glyphicon-minus-sign"></span><b>Delayed SLA:</b>  (TAT_SLA) - SLA <br />
                                        <span class="glyphicon glyphicon-check"></span><b> Response Time: </b>Time difference between request created and its frist response.
                                    </div></div></div>
                                </div>
                            </div>
                            

                            <div id="Tabular" data-ng-show="RptByUsrGrid">
                                <div class="col-sm-12">
                            </div>                                
                                <div class="row" style="padding-right: 15px;">
                                    <a data-ng-click="GenReport(RptByUsr,'doc')"><i id="word" data-ng-show="DocTypeVisible==0" data-toggle="tooltip" title="Export to Word" class="fa fa-file-word-o fa-2x pull-right"></i></a>
                                    <a data-ng-click="GenReport(RptByUsr,'xls')"><i id="excel" data-toggle="tooltip" title="Export to Excel" class="fa fa-file-excel-o fa-2x pull-right"></i></a>
                                    <a data-ng-click="GenReport(RptByUsr,'pdf')"><i id="pdf" data-toggle="tooltip" title="Export to Pdf" class="fa fa-file-pdf-o fa-2x pull-right"></i></a>
                                </div>
                                <div class="row" style="padding-left: 17px;">
                                    <div class="col-md-12" style="height: 320px">
                                        <input id="UpdteFilter" placeholder="Filter..." type="text" style="width: 25%;" />
                                        <div data-ag-grid="gridOptions" class="ag-blue" style="height: 305px; width: auto"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix">
                                <div id="Graphicaldiv">
                                    <div id="LocationGraph">&nbsp</div>
                                    <div id="SubCatGraph">&nbsp</div>
                                </div>
                            </div>
                        </form>
                        <div class="modal fade bs-example-modal-lg col-md-12 " id="historymodal">
                            <div class="modal-dialog modal-lg">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <div class="panel-group box box-primary" id="Div2">
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                            <div class="panel-heading ">
                                                <h4 class="panel-title modal-header-primary" style="padding-left: 17px" data-target="#collapseTwo">History Details</h4>
                                                <br />
                                                <form role="form" name="form2" id="form3">
                                                    <div class="clearfix">
                                                        <div class="col-md-12">
                                                            <div class="box">
                                                                <div class="box-danger table-responsive">
                                                                    <div data-ag-grid="PopOptions" class="ag-blue" style="height: 305px; width: auto"></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <%= ScriptCombiner.GetScriptTags("js_Scripts", "js", 1)%>


    <script src="../../../../Dashboard/C3/d3.v3.min.js"></script>
    <script src="../../../../Dashboard/C3/c3.min.js"></script>
    <link href="../../../../Dashboard/C3/c3.css" rel="stylesheet" />
    <script src="../../../../BootStrapCSS/Bootstrapswitch/js/bootstrap-switch.min.js"></script>
    <script src="../../../../BootStrapCSS/Bootstrapswitch/js/highlight.js"></script>
    <script src="../../../../BootStrapCSS/Bootstrapswitch/js/main.js"></script>

    <script src="../../../../Scripts/DropDownCheckBoxList/isteven-multi-select.js"></script>
    <script src="../../../../Scripts/Lodash/lodash.min.js"></script>
    <script src="../../../../Scripts/moment.min.js"></script>
    <script src="../../../../Scripts/jspdf.min.js"></script>
    <script src="../../../../Scripts/jspdf.plugin.autotable.src.js"></script>
    <script>
        var app = angular.module('QuickFMS', ["agGrid", "isteven-multi-select"]);
    </script>
    <script src="../../../../SMViews/Utility.js"></script>
    <script src="../../js/HDMUtility.js"></script>
    <script src="../../../../SMViews/Utility.js"></script>
    <script src="../Js/HDMReportByUser.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            setDateVals();
        });

        function setDateVals() {
            $('#FROM_DATE').datepicker({
                format: 'dd-M-yyyy',
                autoclose: true,
                todayHighlight: true
            });
            $('#TO_DATE').datepicker({
                format: 'dd-M-yyyy',
                autoclose: true,
                todayHighlight: true
            });
            $('#FROM_DATE').datepicker('setDate', new Date(moment().subtract(1, 'month').startOf('month').format('DD-MMM-YYYY')));
            $('#TO_DATE').datepicker('setDate', new Date(moment().subtract(1, 'month').endOf('month').format('DD-MMM-YYYY')));
        }
    </script>
</body>
</html>
