<%@ Page Language="VB" AutoEventWireup="false"
    CodeFile="frmViewPVMDates.aspx.vb" Inherits="MaintenanceManagement_PMC_Reports_frmViewPVMDates"
    Title="" %>

<%@ Register Assembly="Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" Namespace="Microsoft.Reporting.WebForms" TagPrefix="rsweb" %>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Facility Management Services::a-mantra</title>
    <%=ScriptCombiner.GetScriptTags("css_scripts", "css", 1)%>
    <link href='//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css' />

    <!--[if lt IE 9]>
        <script src='<%= ResolveUrl("~/BootStrapCSS/Scripts/html5shiv.js")%>'></script>
        <script src='<%= ResolveUrl("~/BootStrapCSS/Scripts/respond.min.js")%>'></script>
    <![endif]-->
    <script type="text/javascript">
        function setup(id) {
            $('#' + id).datepicker({

                format: 'mm/dd/yyyy',
                autoclose: true

            });
        };
    </script>
</head>
<body>
    <div id="wrapper">
        <div id="page-wrapper" class="row">
            <div class="row form-wrapper">
                <div class="row">
                    <div class="col-md-12">
                        <fieldset>
                            <legend>Preventive Maintenance Status Details
                            </legend>
                        </fieldset>
                        <form id="form1" class="form-horizontal well" runat="server">
                            <asp:ScriptManager ID="ScriptManager1" runat="server"></asp:ScriptManager>
                            <asp:ValidationSummary ID="ValidationSummary1" runat="server" ShowMessageBox="False" ShowSummary="true" DisplayMode="List"
                                ValidationGroup="Val1" CssClass="alert alert-danger" ForeColor="Red"></asp:ValidationSummary>
                            <div id="pnlPremise" runat="server">

                              
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <div class="row">
                                                <label class="col-md-5 control-label">From Date<span style="color: red;">*</span></label>
                                                <asp:RequiredFieldValidator ID="rfvFromDt" runat="server" ErrorMessage="Please Select From Date"
                                                    ControlToValidate="txtFromDate" Display="None" ValidationGroup="Val1">
                                                </asp:RequiredFieldValidator>
                                                <div class="col-md-7">
                                                    <div class='input-group date' id='fromdate'>
                                                        <asp:TextBox ID="txtFromDate" runat="server" CssClass="form-control" MaxLength="10"> </asp:TextBox>
                                                        <span class="input-group-addon">
                                                            <span class="fa fa-calendar" onclick="setup('fromdate')"></span>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <div class="row">
                                                <label class="col-md-5 control-label">To Date<span style="color: red;">*</span></label>
                                                <asp:RequiredFieldValidator ID="rfvToDt" runat="server" ErrorMessage="Please Select To Date"
                                                    ControlToValidate="txtToDate" Display="None" ValidationGroup="Val1">
                                                </asp:RequiredFieldValidator>
                                                <asp:CompareValidator ID="cvDates" runat="server" ErrorMessage="Please Enter To Date Greater Than From Date"
                                                    ControlToValidate="txtFromDate" Display="None" Type="Date" ControlToCompare="txtToDate" Operator="LessThan" ValidationGroup="Val1">
                                                </asp:CompareValidator>
                                                <div class="col-md-7">
                                                    <div class='input-group date' id='todate'>
                                                        <asp:TextBox ID="txtToDate" runat="server" CssClass="form-control" MaxLength="10"> </asp:TextBox>
                                                        <span class="input-group-addon">
                                                            <span class="fa fa-calendar" onclick="setup('todate')"></span>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                  <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <div class="row">
                                                <label class="col-md-5 control-label">Location</label>
                                                <asp:RequiredFieldValidator ID="RequiredFieldValidator1" runat="server" ErrorMessage="Please Select Location"
                                                    InitialValue="--Select--" ControlToValidate="DrpDwnPremise" Display="None" ValidationGroup="Val1">
                                                </asp:RequiredFieldValidator>
                                                <div class="col-md-7">
                                                    <asp:DropDownList ID="DrpDwnPremise" runat="server" CssClass="selectpicker" data-live-search="true" >
                                                    </asp:DropDownList>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12 text-right">
                                        <div class="form-group">
                                            <asp:Button ID="btnSubmit" runat="server" CssClass="btn btn-primary custom-button-color" Text="Submit" ValidationGroup="Val1"></asp:Button>
                                            <%--<asp:Button ID="Button1" OnClick="Button1_Click" runat="server" CssClass="btn btn-primary custom-button-color" Text="Back"></asp:Button>--%>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row table table table-condensed table-responsive">
                                <div class="row">
                                    <div class="col-md-12">
                                        <rsweb:ReportViewer ID="ReportViewer1" runat="server" Width="100%"></rsweb:ReportViewer>
                                    </div>
                                </div>
                            </div>
                            <div>&nbsp</div>
                            <%-- <div id="pnlbutton" runat="server" visible="False" class="row">
                                <div class="col-md-11 text-right">
                                    <asp:Button ID="btnBack" runat="server" CssClass="btn btn-primary custom-button-color" Text="Back"></asp:Button>
                                </div>
                            </div>--%>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="row">
                                            <asp:Label ID="lblError" runat="server" CssClass="col-md-12 control-label" ForeColor="Red">
                                            </asp:Label>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%= ScriptCombiner.GetScriptTags("js_Scripts", "js", 1)%>
</body>
</html>

