<%@ Control Language="VB" AutoEventWireup="false" CodeFile="ItemRMViewReq.ascx.vb"
    Inherits="Controls_ItemRMViewReq" %>
    <!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
   <script type="text/javascript">
       function CheckAllDataGridCheckBoxes(aspCheckBoxID, checkVal) {
           re = new RegExp(aspCheckBoxID)
           for (i = 0; i < form1.elements.length; i++) {
               elm = document.forms[0].elements[i]
               if (elm.type == 'checkbox') {
                   if (re.test(elm.name)) {
                       if (elm.disabled == false)
                           elm.checked = checkVal
                   }
               }
           }
       }

       var TotalChkBx;
       var Counter;
       window.onload = function () {
           //Get total no. of CheckBoxes in side the GridView.
           TotalChkBx = parseInt('<%= Me.gvItems.Rows.Count%>');
            //Get total no. of checked CheckBoxes in side the GridView.
            Counter = 0;
        }
        <%--function HeaderClick(CheckBox) {
            //Get target base & child control.
            var TargetBaseControl = document.getElementById('<%= Me.gvItems.ClientID%>');
            var TargetChildControl = "chkItem";
            //Get all the control of the type INPUT in the base control.
            var Inputs = TargetBaseControl.getElementsByTagName("input");
            //Checked/Unchecked all the checkBoxes in side the GridView.
            for (var n = 0; n < Inputs.length; ++n)
                if (Inputs[n].type == 'checkbox' && Inputs[n].id.indexOf(TargetChildControl, 0) >= 0)
                    Inputs[n].checked = CheckBox.checked;
            //Reset Counter
            Counter = CheckBox.checked ? TotalChkBx : 0;
        }--%>

       function ChildClick(CheckBox) {
           //Get target base & child control.
           var TargetBaseControl = document.getElementById('<%= Me.gvItems.ClientID%>');
            var TargetChildControl = "chkSelect";
            //Get all the control of the type INPUT in the base control.
            var Inputs = TargetBaseControl.getElementsByTagName("input");
            // check to see if all other checkboxes are checked
            for (var n = 0; n < Inputs.length; ++n)
                if (Inputs[n].type == 'checkbox' && Inputs[n].id.indexOf(TargetChildControl, 0) >= 0) {
                    // Whoops, there is an unchecked checkbox, make sure
                    // that the header checkbox is unchecked
                    if (!Inputs[n].checked) {
                        Inputs[0].checked = false;
                        return;
                    }
                }
            // If we reach here, ALL GridView checkboxes are checked
            Inputs[0].checked = true;
        }

         <%--check box validation--%>
       function validateCheckBoxesMyReq() {
           var gridView = document.getElementById("<%=gvItems.ClientID%>");
            var checkBoxes = gridView.getElementsByTagName("input");
            for (var i = 0; i < checkBoxes.length; i++) {
                if (checkBoxes[i].type == "checkbox" && checkBoxes[i].checked) {
                    return true;
                }
            }
            alert("Please select atleast one checkbox");
            return false;
        }
    </script>
 
</head>
    <body>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <div class="row">
                        <asp:Label ID="lblMsg" runat="server" CssClass="col-md-12 control-label" ForeColor="Red">                  
                        </asp:Label>
                    </div>
                </div>
            </div>
        </div>
<div class="row" style="margin-top: 10px">
    <div class="col-md-12" style="overflow: auto; width: 100%; min-height: 20px; max-height: 320px">      
            <asp:GridView ID="gvItems" runat="server" AllowPaging="false" AutoGenerateColumns="false"
                EmptyDataText="No Requests Found." CssClass="table table-condensed table-bordered table-hover table-striped">
                <Columns>
                   <asp:TemplateField HeaderText="Select" ItemStyle-HorizontalAlign="left">
                                                        <HeaderTemplate>
                                                             <asp:CheckBox ID="chkAll" ItemStyle-HorizontalAlign="Center" runat="server" onclick="javascript:CheckAllDataGridCheckBoxes('chkSelect', this.checked);"
                                ToolTip="Click to check all" />
                                                        </HeaderTemplate>
                                                        <ItemTemplate>
                                                            <asp:CheckBox ID="chkSelect" runat="server" onclick="javascript:ChildClick(this);" />
                                                        </ItemTemplate>
                                                    </asp:TemplateField>
                     <asp:TemplateField HeaderText="Requisition ID" ItemStyle-HorizontalAlign="left">
                        <ItemTemplate>
                            <asp:HyperLink ID="hLinkDetails" runat="server" NavigateUrl='<%#Eval("AIR_REQ_ID","~/FAM/FAM_WebFiles/frmItemRMViewReqDetails.aspx?RID={0}") %>'
                                Text='<%# Eval("AIR_REQ_ID")%> '>
                               </asp:HyperLink>
                            <asp:Label ID="lblStatusId" runat="server" Text='<%#Eval("AIR_STA_ID") %>' Visible="false"></asp:Label>
                        </ItemTemplate>
                    </asp:TemplateField>
                    <asp:BoundField DataField="aur_name" HeaderText="Requested By" ItemStyle-HorizontalAlign="left" />
                    <asp:BoundField DataField="AIR_REQ_DATE" HeaderText="Requested Date" ItemStyle-HorizontalAlign="left" />
                    <asp:BoundField DataField="STA_TITLE" HeaderText="Status" ItemStyle-HorizontalAlign="left" />
                  </Columns>
                <HeaderStyle BackColor="#366599" ForeColor="#E2E2E2" />
            </asp:GridView>
        </div>
    </div>

        <div class="row" id="RemarksNApprNRejPanel" runat="server">

            <div class="col-md-6">
                <div class="form-group">
                    <div class="row">
                        <label class="col-md-5 control-label">L1 Remarks</label>
                        <asp:RequiredFieldValidator ID="rfvrem" runat="server" ControlToValidate="txtRM"
                            Display="None" ErrorMessage="Please Enter Remarks" ValidationGroup="Val1"></asp:RequiredFieldValidator>
                        <div class="col-md-7">
                            <asp:TextBox ID="txtRM" runat="server" CssClass="form-control" MaxLength="100"
                                Rows="3" TextMode="MultiLine"></asp:TextBox>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-md-12 text-right">
                <div class="form-group">
                    <asp:Button ID="btnsubmit" runat="server" Text="Approve" CssClass="btn btn-primary custom-button-color" OnClientClick="javascript:return validateCheckBoxesMyReq();" ValidationGroup="Val1" />
                    <asp:Button ID="btnCancel" runat="server" Text="Reject" CssClass="btn btn-primary custom-button-color" OnClientClick="javascript:return validateCheckBoxesMyReq();" />
                </div>
            </div>
        </div>
        </body>
    </html>



