<%@ Control Language="VB" AutoEventWireup="false" CodeFile="TopMenu.ascx.vb" Inherits="Controls_TopMenu" %>
<table width="980" border="0" align="center" cellpadding="0" cellspacing="0">
    <tr>
         <td width="96" align="left" valign="middle">
            <a href='<%=Page.ResolveUrl("~/frmAMTDefault.aspx")%>' title="a-mantra">
                <img alt="" src='<%=Page.ResolveUrl("~/images/company_logo.jpg")%>' width="134" height="45"/></a></td>
<%--        <td align="right" valign="bottom" style="background-image: url(images/company_logo.jpg);
            background-repeat: no-repeat; width: 196px; height: 96px;">--%>
            <td align="right" valign="bottom">
            <asp:Label ID="lbl1" runat="server"></asp:Label>
            <a href='<%=Page.ResolveUrl("~/frmAMTDefault.aspx")%>' title="a-mantra">Home</a>&nbsp;|&nbsp;
            <%If String.IsNullOrEmpty(Session("UID")) Then%>
            <asp:HyperLink class="footer" NavigateUrl="~/frmAMTDefault.aspx" ID="LinkButton1" runat="server"
                Text="Login"></asp:HyperLink>
            <%Else%>
            <asp:LinkButton class="footer" ID="lbtnLogOut" runat="server" Text="Logout" CausesValidation="false" OnClientClick="lbtnLogOut_Click"></asp:LinkButton>
            <%End If%>
          <a href='<%=Page.ResolveUrl("~/frmAMTDefault.aspx")%>' title="a-mantra">
           <img alt="" src='<%=Page.ResolveUrl("~/images/a-mantralogo.gif")%>' width="134" height="96"/></a>
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <div class="container4">
                <div class="topmenu">
                    <asp:Literal ID="litMenu" runat="server"></asp:Literal>
                </div>
            </div>
        </td>
    </tr>
</table>