<%@ Control Language="VB" AutoEventWireup="false" CodeFile="ucTest.ascx.vb" Inherits="Controls_ucTest" %>
<table id="table1" cellspacing="0" cellpadding="0" width="100%" border="0">
    <tr>
        <td align="center">
            <asp:Label ID="lblHead" runat="server" CssClass="fornormaltext" Width="95%" Font-Underline="False"
                ForeColor="Black">Test 
             <hr align="center" width="60%" /></asp:Label></td>
    </tr>
</table>
<table cellspacing="0" cellpadding="0" width="100%" class="fornormaltext">
    <tr class="bcolor">
        <td align="left">
            <span><strong>&nbsp;Test</strong></span>
        </td>
    </tr>
    <tr>
        <td align="center">
            &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;
            <table>
                <tr>
                    <td align="center">
                        <table id="Test_list">
                        </table>
                        <div id="Test_pager" class="scroll" style="text-align: center;">
                        </div>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
