<%@ Control Language="VB" AutoEventWireup="false" CodeFile="ViewMap.ascx.vb" Inherits="Controls_ViewMap" %>
<link href="../../Scripts/styAMTamantra.css" type="text/css" rel="stylesheet"/>
<table border="0" cellpadding="0" cellspacing="0">
<tr>
<td align="left"> <asp:Label ID="lbl1" runat="server"></asp:Label></td>
</tr>
</table>