<%@ Page Language="VB" MasterPageFile="~/MapMasterPage.master" AutoEventWireup="false" CodeFile="frmLineChart.aspx.vb" Inherits="WorkSpace_GraphicalReport_frmTest" title="Graphical Report" %>

<%@ Register Src="Controls/LineChart.ascx" TagName="LineChart" TagPrefix="uc1" %>
<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    <uc1:LineChart ID="LineChart1" runat="server" />
</asp:Content>

